<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment=template_List>
<meta th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
<link th:href="@{/custom/css/fullScreen.css}"/>
<link th:href="@{/components/layui/css/layui.css}"/>

<script type="text/javascript" th:src="@{/components/layui/layui.all.js}"></script>

<!-- content starts -->
<div class="wrapper" style="margin: 20px;">
    <!-- Media datatable -->
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <h6 style="color: #1A7444">Templates</h6>
            </div>
        </div>
        <div class="navbar">
            <div class="demoTable">
                <div style="margin-top: 6px">
                    <div class="layui-inline">
                        <i class="fa fa-search fa-2x" style="position:absolute;top:8px ;left:8px;font-size:18px"></i>
                        <input class="layui-input" name="param" id="search_input_id" autocomplete="off"
                               style="padding-left:30px">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-overflow">
            <table class="layui-hide" id="flowTemplateTableId" lay-filter="user"></table>
            <table id="templateTableId" style="width: 100%" class="table table-striped table-bordered table-checks">
                <thead>
                <tr>
                    <th width="50%" style="color: #1A7444">TemplateName</th>
                    <th width="35%" style="color: #1A7444">CreateTime</th>
                    <th width="15%" style="color: #1A7444" class="actions-column">Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /media datatable -->
</div>
<!-- content ends -->
<div th:include="Macro/fragmentMacro :: fullScreen"></div>
<script th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacroScript"/>
<script th:src="@{/custom/js/flow/templateList.js}"></script>
<script th:inline="javascript">
    initLayerTableFlowTemplatePage('templateTableId', "/piflow-web/flowTemplate/flowTemplatePage", "search_input_id")

    //@ sourceURL=template_List.js
</script>
</body>
</html>
