<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment=process_group_info_inc>
    <div th:unless="${processGroupVo}" style="line-height: 25px;">
        <div style="position: absolute;top: 49%;width: 100%;text-align: center;">
            <span style="font-size: 60px;">Load Fail------------------</span>
        </div>
    </div>
    <div th:if="${processGroupVo}" style="line-height: 25px;">
        <div style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
            <div style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">
                Process Basic Information
            </div>
            <table style="border-collapse: separate; border-spacing: 0px 5px;">
                <tbody>
                <tr>
                    <td valign="top">
                        <span>UUID ：</span>
                    </td>
                    <td valign="top"><span th:text="${processGroupVo.id}"/></td>
                </tr>
                <tr>
                    <td valign="top"><span>GroupName ：</span></td>
                    <td valign="top"><span th:text="${processGroupVo.name}"/></td>
                </tr>
                <tr>
                    <td valign="top"><span>Description ：</span></td>
                    <td valign="top"><span th:text="${processGroupVo.description}"/></td>
                </tr>
                <tr>
                    <td valign="top"><p>CreateTime ：</p></td>
                    <td valign="top"><span th:text="${processGroupVo.crtDttmStr}"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
            <div style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">
                Process Running Information
            </div>
            <span>StartTime ：</span>
            <span id="processStartTimeShow" th:text="${processGroupVo.startTimeStr}"/>
            <br>
            <span>CompleteTime ：</span>
            <span id="processStopTimeShow" th:text="${processGroupVo.endTimeStr}"/>
            <br>
            <span>State ：</span>
            <span id="processStateShow" th:text="${processGroupVo.state}"/>
            <br>
            <span>ProgressData ：</span>
            <span id="processProgressShow">
                <span th:if="${processGroupVo.progress !=null && processGroupVo.progress != ''}"
                      th:text="${processGroupVo.progress} + '%'"/>
            </span>
        </div>
    </div>
</div>
</body>
</html>
