# Default ignored files
/shelf/
/workspace.xml
/piflow-web.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
.DS_Store
target/