<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=5,IE=9"><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>piflow-web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/components/mxGraph/styles/grapheditor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/components/bootstrap/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/static/img/logo.ico}">
</head>
<body>
<div style="line-height: 25px;">
    <div id="runningProcessID"
         style="white-space: nowrap; color: rgb(112, 112, 112); text-align: left; cursor: default; line-height: 25px; display: none;">
        <div style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
            <div style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">
                running process
            </div>
            <table style="border-collapse: separate; border-spacing: 0px 0px; width: 95%;">
                <tbody>
                <tr>
                    <td style="width: 50%;"><label>processName</label></td>
                    <td style="width: 50%;"><label>startTime</label></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:inline="javascript">
    var flowId = [[${flowId}]];
    $("#runningProcessID").hide();
    function initRunningProcessPageData(flowId) {
        $.ajax({
            cache: true,//Keep cached data
            type: "get",//Request for get
            url: "/piflow-web/process/getRunningProcessListData",//This is the name of the file where I receive data in the background.
            //data:$('#loginForm').serialize(),//Serialize the form
            data: {
                flowId: flowId
            },
            async: true,//Setting it to true indicates that other code can still be executed after the request has started. If this option is set to false, it means that all requests are no longer asynchronous, which also causes the browser to be locked.
            error: function (request) {//Operation after request failure
                $("#runningProcessID").hide();
                alert("Request Failed");
                return;
            },
            success: function (data) {//Operation after request successful
                console.log("=====================================================================================");
                var dataMap = JSON.parse(data);
                if (200 === dataMap.code) {
                    var runningProcessVoList = dataMap.runningProcessVoList;
                    if (!runningProcessVoList) {
                        $("#runningProcessID").hide();
                    } else {
                        $("#runningProcessID").show();
                        var runningProcessID_tbody = $("#runningProcessID").find("tbody");
                        if (runningProcessID_tbody) {
                            var tableTitle = '<tr>'
                                + '<td style="width: 50%;"><label>processName</label></td>'
                                + '<td style="width: 50%;"><label>startTime</label></td>'
                                + '</tr>';
                            var tableAllTd = '';
                            for (var i = 0; i < runningProcessVoList.length; i++) {
                                tableAllTd += ('<tr>'
                                    + '<td style="border: 1px solid #e8e8e8; width: 50%;"><span>' + runningProcessVoList[i].name + '</span></td>'
                                    + '<td style="border: 1px solid #e8e8e8; width: 50%;"><span>' + runningProcessVoList[i].startTime + '</span></td>'
                                    + '</tr>');
                            }
                            runningProcessID_tbody.html(tableTitle + tableAllTd);
                        }

                    }
                } else {
                    $("#runningProcessID").hide();
                }
            }
        });
    }

    $(document).ready(function () {
        initRunningProcessPageData(flowId);
    });
</script>
</body>
</html>
