section {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    border: 1px solid #d5d5d5;
    background: #f7f7f7;

    background: linear-gradient(to bottom, #ffffff, #f7f7f7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
    .left {
      font-weight: bold;
    }
  }
  ::v-deep .ivu-input-wrapper {
    margin: 6px 0;
    .ivu-input {
      padding: 8px 10px;
    }
  }
  .input {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .button-warp {
    text-align: center;
    color: var(--button-color);
    font-weight: bold;
    display: inline-block;
    margin: 2px 5px;
    padding: 2px 10px;
    border: 1px solid var(--button-color);
    background-color: #fafafa;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .page {
    padding: 12px;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #fff;
  }
 
}
 .modal-warp{
    .item{
      margin: 12px 0px;
      label{
        display: inline-block;
        width: 120px;
        text-align: right;
      }
    }
  }
 .select_type{
   width: 120px;

   /*滚动条整体部分*/
   ::v-deep .ivu-select-dropdown::-webkit-scrollbar {
     width: 6px;
     height: 10px;
   }
   /*滚动条的轨道*/
   ::v-deep .ivu-select-dropdown::-webkit-scrollbar-track {
     background-color: #FFFFFF;
   }
   /*滚动条里面的小方块，能向上向下移动*/
   ::v-deep .ivu-select-dropdown::-webkit-scrollbar-thumb {
     background-color: #ebebeb;
     border-radius: 5px;
     border: 1px solid #F1F1F1;
     box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   }
   ::v-deep .ivu-select-dropdown::-webkit-scrollbar-thumb:hover {
     background-color: #A8A8A8;
   }
   ::v-deep .ivu-select-dropdown::-webkit-scrollbar-thumb:active {
     background-color: #787878;
   }
   /*边角，即两个滚动条的交汇处*/
   ::v-deep .ivu-select-dropdown::-webkit-scrollbar-corner {
     background-color: #FFFFFF;
   }

 }