<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nature.mapper.PropertyTemplateMapper">
     <insert id ="insertPropertyTemplate" parameterType="java.util.List" >
            <selectKey resultType ="java.lang.Integer" keyProperty= "id"
                 order= "AFTER">
                SELECT LAST_INSERT_ID()
            </selectKey >
           insert into flow_stops_property_template
           (id,crt_dttm, crt_user, enable_flag,last_update_dttm,last_update_user,version,allowable_values,default_value
           ,description,display_name,name,property_required,property_sensitive,stops_template)
           values
            <foreach collection ="list" item="stops_template" index= "index" separator =",">
                (
                #{stops_template.id}, #{stops_template.crtDttm}, #{stops_template.crtUser}, #{stops_template.enableFlag}, #{stops_template.lastUpdateDttm},
               #{stops_template.lastUpdateUser},#{stops_template.version},
               #{stops_template.allowableValues},#{stops_template.defaultValue},
               #{stops_template.description},#{stops_template.displayName},#{stops_template.name},#{stops_template.required}
               ,#{stops_template.sensitive},#{stops_template.stopsTemplate}
                )
            </foreach >
     </insert >
   
</mapper>