section {
  ul.console-list {
    display: flex;
    padding: 20px 0;
    li {
      font-size: 16px;
      padding: 30px 20px;
      border-radius: 4px;
      color: #ffffff !important;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
      position: relative;
      overflow: hidden;
      margin: 0 8px;
      flex-grow: 1;
      span {
        display: block;
      }
      span:nth-child(1) {
        font-size: 32px;
        opacity: 0.9;
      }
      span:nth-child(2) {
        opacity: 0.8;
      }
      i {
        position: absolute;
        top: 30px;
        right: 40px;
        font-size: 35px;
      }
    }
    li:nth-child(1) {
      margin-left: 0;
      background-color: #40d4b0;
    }
    li:nth-child(2) {
      background-color: #55a5ea;
    }
    li:nth-child(3) {
      background-color: #9dafff;
    }
    li:nth-child(4) {
      background-color: #f591a2;
    }
    li:nth-child(5) {
      background-color: #feaa4f;
    }
    li:nth-child(6) {
      background-color: #9bc539;
    }
    li:nth-last-child(1) {
      margin-right: 0;
    }
  }
  .card-box {
    display: flex;
    padding-top: 15px;
    .card {
      width: 50%;
    }
    .card:nth-child(1) {
      margin-right: 20px;
    }
  }
}
