<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=5,IE=9"><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProcessContent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:include="/Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
    <link rel="stylesheet" type="text/css" th:href="@{/grapheditor/styles/grapheditor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href='@{/custom/css/publicMacro.css}'/>

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" th:href='@{/index/css/ie8.css}'/>
    <![endif]-->

    <style type="text/css">
        /*人为制造一个占据整个屏幕的Div,其透明度为0.7且z-index为9999使之前的页面被压在底层无法点击*/
        .fullScreen {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.7;
            background-color: black;
            z-index: 9999;
            text-align: center;
        }
    </style>
    <!-- The fav icon -->
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
    <script type="text/javascript" th:src='@{/js/jquery/jquery.js}'></script>
    <script th:src="@{/charisma/js/layer/layer.js}"></script>
</head>
<body class="geEditor">
<div th:include="/Macro/publicMacro :: userHeadMacro"></div>
<div style="position: fixed; z-index: 779;text-align: right;right: 27%;top: 58px;">
			<span>
				progress：<span id="progress" th:text="${percentage} + '%'"></span>
			</span>
    <input id="startFlow" type="button" onclick="getCheckpoint()" value="Run"/>
    <input id="stopFlow" type="button" onclick="stopProcess()" value="Stop"/>
    <input type="button" class="btn-primary" data-toggle="modal" onclick="getLogUrl()" data-target="#myModal"
           value="Log"/>
</div>
<div id="processContent" th:onclick="'queryProcess(\''+${processId}+'\')'"
     style="overflow: auto; position: fixed; top: 48px; bottom: 28px;left: 0%;right: 25%; z-index: 778;">
    <div class="geBackgroundPage"
         style="position: absolute;border-width: 1px;overflow: hidden;width: 2391px;height: 2167px;border-color: rgb(202, 202, 202);border-style: solid;background-color: rgb(255, 255, 255);background-image: url(&quot;data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=&quot;);background-position: -1px -1px;"></div>
</div>

<div id="processLeft" class="geSidebarContainer"
     style="right: 0px;top: 48px;bottom: 28px;left: 75%;background-color: whitesmoke;font-size: 12px;">
    <div th:include="/process/inc/process_Info_Inc :: process_Info_Inc"></div>
</div>
<!-- crumbs -->
<div style=" width: 100%;position: fixed;z-index: 99999;left: 0px;bottom: 0px;text-align: center;height: 28px;line-height: 28px;background: #37714b;">
    <span th:switch="${parentAccessPath}">
            <span th:case="'grapheditor'">
                <span style="color: #ffffff">
                    <a style="color: #ffffff" th:href="@{/web/flowList}">FlowList</a>
                </span>
                <span style="color: #ffffff">&gt;&gt;</span>
                <span style="color: #ffffff;">
                    <a style="color: #ffffff" th:href="@{/grapheditor/home} + '?load=' + ${processVo.flowId}">FlowContent</a>
                </span>
            </span>
            <span th:case="*" style="color: #ffffff">
                <a style="color: #ffffff" th:href="@{/process/processList}">ProcessList</a>
            </span>
        </span>
    <span style="color: #ffffff">&gt;&gt;</span>
    <span style="color: #ffffff; font-weight: bold">ProcessContent</span>
</div>
<!-- Modal Checkpoint -->
<div class="modal" id="checkpointShow" aria-labelledby="myModalLabel" data-backdrop="static">
    <div id="modalDialogPort" class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;  top: 77px;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelPort">Choose Checkpoint Windows</h4>
            </div>
            <div id="checkpointContent" class="modal-body">
                没有查询到checkpoint信息
                <input type="checkbox" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="runProcess(true)">Run</button>
                <button type="button" class="btn btn-default" onclick="runProcess(false)">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 日志 -->
<div class="modal" id="myModal" aria-labelledby="myModalLabel" data-backdrop="static">
    <div id="modalDialog" class="modal-dialog" role="document">
        <div class="modal-content" style="top: 20px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Log Windows</h4>
            </div>
            <div class="modal-body">
                <!-- <div id="logTitle">加载中</div> -->
                <table border="1" style="width: 100%; height: 100%;">
                    <tr style="height: 90%;">
                        <td id="customContent">
                            loading.....
                        </td>
                    </tr>
                </table>
                <input type="button" class="btn btn-default" onclick="changeUrl(1)" value="stdout">
                <input type="button" class="btn btn-default" onclick="changeUrl(2)" value="stderr">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id='fullScreen' class="fullScreen" style="display: none;">
    <div style="margin-top: 15%;">
        <p>
            <img th:src="@{/img/fullScreen.gif}" alt="">
        </p>
    </div>
    `
</div>
<script type="text/javascript" th:src="@{/js/jquery/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:include="/Macro/csrfTokeHeadMacroScript :: csrfTokeHeadMacroScript"/>
<script th:src="@{/custom/processContent.js}"></script>
<script th:inline="javascript">
    var xmlDate = [[${xmlDate}]];
    var processId = [[${processId}]];
    var parentProcessId = [[${parentProcessId}]];
    var pID = [[${pID}]];
    var appId = [[${appId}]];
    var processState = [[${processState}]];
    var stdoutLog = [[${stdoutLog}]];
    var stderrLog = [[${stderrLog}]];
    (function () {
        if (processContent) {
            if (xmlDate) {
                processContent.append(xmlDate);
            } else {
                processContent.prepend('<div style="position: fixed;z-index: 779;"><h1>视图丢失</h1></div>');
            }
        }
        if (startFlow) {
            if ("STARTED" === processState) {
                startFlow.hide();
                stopFlow.show();
                timer = window.setInterval("processMonitoring(appId)", 5000);
            } else {
                startFlow.show();
                stopFlow.hide();
            }
        }
        var processStopVoListInit = [[${processStopVoListInit}]];
        if (processStopVoListInit && '' != processStopVoListInit) {
            for (var i = 0; i < processStopVoListInit.length; i++) {
                var processStopVoInit = processStopVoListInit[i];
                monitor(processStopVoInit.pageId, processStopVoInit.state);
            }
        }
        //queryProcess(processId);
        $("#modalDialog").draggable();//为模态对话框添加拖拽
        $("#myModal").css("overflow", "hidden");//禁止模态对话框的半透明背景滚动
    })();

    //浏览器窗口大小变化时
    $(window).resize(function () {
        var window_width = $(window).width();//获取浏览器窗口宽度
        var window_height = $(window).height();//获取浏览器窗口宽度
        $('#modalDialog').height(window_height - 124);
        $('#modalDialog').width(window_width - 124);
        $('#preId').height(window_height - 300);
        $('#divPreId').height(window_height - 300);
    });
    //@ sourceURL=processContent.js
</script>
</body>
</html>
