<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=5,IE=9"><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProcessContent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:include="/Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
    <link rel="stylesheet" type="text/css" th:href="@{/grapheditor/styles/grapheditor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <style type="text/css">
        /*人为制造一个占据整个屏幕的Div,其透明度为0.7且z-index为9999使之前的页面被压在底层无法点击*/
        .fullScreen {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.7;
            background-color: black;
            z-index: 9999;
            text-align: center;
        }
    </style>
    <!-- The fav icon -->
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
</head>
<body class="geEditor">
<div style="position: fixed; z-index: 779;text-align: right;right: 27%;top: 10px;">
			<span>
				progress：<span id="progress" th:text="${percentage} + '%'"></span>
			</span>
    <input id="startFlow" type="button" onclick="getCheckpoint()" value="Run"/>
    <input id="stopFlow" type="button" onclick="stopProcess()" value="Stop"/>
    <input type="button" class="btn-primary" data-toggle="modal" onclick="getLogUrl()" data-target="#myModal"
           value="Log"/>
</div>
<div id="processContent" th:onclick="'queryProcess(\''+${processId}+'\')'"
     style="overflow: auto; width: 75%; height: 100%; position: fixed;z-index: 778;">
    <div class="geBackgroundPage"
         style="position: absolute;border-width: 1px;overflow: hidden;width: 2391px;height: 2167px;border-color: rgb(202, 202, 202);border-style: solid;background-color: rgb(255, 255, 255);background-image: url(&quot;data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=&quot;);background-position: -1px -1px;"></div>
</div>

<div id="processLeft" class="geSidebarContainer"
     style="right: 0px;background-color: whitesmoke;font-size: 12px;width: 25%;height: 100%;">
    <div th:include="/process/inc/process_Info_Inc :: process_Info_Inc"></div>
</div>
<!-- Modal Checkpoint -->
<div class="modal" id="checkpointShow" aria-labelledby="myModalLabel" data-backdrop="static">
    <div id="modalDialogPort" class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;  top: 77px;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelPort">CHOOSE CHECKPOINT WINDOWS</h4>
            </div>
            <div id="checkpointContent" class="modal-body">
                没有查询到checkpoint信息
                <input type="checkbox" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="runProcess(true)">Run</button>
                <button type="button" class="btn btn-default" onclick="runProcess(false)">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 日志 -->
<div class="modal" id="myModal" aria-labelledby="myModalLabel" data-backdrop="static">
    <div id="modalDialog" class="modal-dialog" role="document">
        <div class="modal-content" style="top: 20px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">LOG WINDOWS</h4>
            </div>
            <div class="modal-body">
                <!-- <div id="logTitle">加载中</div> -->
                <table border="1" style="width: 100%; height: 100%;">
                    <tr style="height: 90%;">
                        <td id="customContent">
                            loading.....
                        </td>
                    </tr>
                </table>
                <input type="button" class="btn btn-default" onclick="changeUrl(1)" value="stdout">
                <input type="button" class="btn btn-default" onclick="changeUrl(2)" value="stderr">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id='fullScreen' class="fullScreen" style="display: none;">
    <div style="margin-top: 15%;">
        <p>
            <img th:src="@{/img/fullScreen.gif}" alt="">
        </p>
    </div>
    `
</div>
<script type="text/javascript" th:src="@{/grapheditor/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/charisma/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    var fullScreen = $('#fullScreen');
    var startFlow = $('#startFlow');
    var stopFlow = $('#stopFlow');
    var processContent = $('#processContent');
    var checkpointShow = $('#checkpointShow');
    var xmlDate = [[${xmlDate}]];
    var processId = [[${processId}]];
    var parentProcessId = [[${parentProcessId}]];
    var pID = [[${pID}]];
    var appId = [[${appId}]];
    var processState = [[${processState}]];
    var stdoutLog = [[${stdoutLog}]];
    var stderrLog = [[${stderrLog}]];
    var isLoadProcessInfo = true;
    (function () {
        if (processContent) {
            if (xmlDate) {
                processContent.append(xmlDate);
            } else {
                processContent.prepend('<div style="position: fixed;z-index: 779;"><h1>视图丢失</h1></div>');
            }
        }
        if (startFlow) {
            if ("STARTED" === processState) {
                startFlow.hide();
                stopFlow.show();
                timer = window.setInterval("processMonitoring(appId)", 5000);
            } else {
                startFlow.show();
                stopFlow.hide();
            }
        }
        var processStopVoListInit = [[${processStopVoListInit}]];
        if (processStopVoListInit && '' != processStopVoListInit) {
            for (var i = 0; i < processStopVoListInit.length; i++) {
                var processStopVoInit = processStopVoListInit[i];
                monitor(processStopVoInit.pageId, processStopVoInit.state);
            }
        }
        //queryProcess(processId);
        $("#modalDialog").draggable();//为模态对话框添加拖拽
        $("#myModal").css("overflow", "hidden");//禁止模态对话框的半透明背景滚动
    })();

    //浏览器窗口大小变化时
    $(window).resize(function () {
        var window_width = $(window).width();//获取浏览器窗口宽度
        var window_height = $(window).height();//获取浏览器窗口宽度
        $('#modalDialog').height(window_height - 124);
        $('#modalDialog').width(window_width - 124);
        $('#preId').height(window_height - 300);
        $('#divPreId').height(window_height - 300);
    });

    function selectedFormation(pageId, e) {
        if (isLoadProcessInfo) {
            isLoadProcessInfo = false;
        }
        if (e && pageId) {
            var selectedRectShow = $('#selectedRectShow');
            if (selectedRectShow) {
                var imgStyleX = 0;
                var imgStyleY = 0;
                var imgStyleWidth = 66;
                var imgStyleHeight = 66;
                if (e) {
                    var selectedStop = $(e).find('image[name="stopImg"]');
                    imgStyleX = $(selectedStop).attr('x');
                    imgStyleY = $(selectedStop).attr('y');
                    imgStyleWidth = $(selectedStop).attr('width');
                    imgStyleHeight = $(selectedStop).attr('height');
                }
                selectedRectShow.attr('x', imgStyleX).attr('y', imgStyleY).attr('width', imgStyleWidth).attr('height', imgStyleHeight);
            }
            queryProcessStop(processId, pageId);
        } else {
            alert("必要位置参数没有获得");
        }
    }

    function selectedPath(pageId, e) {
        if (isLoadProcessInfo) {
            isLoadProcessInfo = false;
        }
        if (pageId) {
            var selectedPathShow = $('#selectedPathShow');
            var selectedArrowShow = $('#selectedArrowShow');
            var pathStyleD = 'M 0 0 L 0 0';
            var arrowStyleD = 'M 0 0 L 0 0 L 0 0 L 0 0 Z';
            //var paths = $(e).find('path[name="arrowName"]');
            if (e) {
                pathStyleD = $(e).find('path[name="arrowName"]').attr("d");
                arrowStyleD = $(e).find('path[name="pathName"]').attr("d");
            }
            if (selectedPathShow) {
                selectedPathShow.attr('d', pathStyleD);
                selectedArrowShow.attr('d', arrowStyleD);
                selectedPathShow.show();
                selectedArrowShow.show();
                //selectedPolygonShow.attr('x', x).attr('y', y).attr('width', width).attr('height', height);
            }
            queryProcessPath(processId, pageId);
        } else {
            alert("必要位置参数没有获得");
        }
    }

    // 查询process的基本信息
    function queryProcess(processId) {
        if (!isLoadProcessInfo) {
            isLoadProcessInfo = true;
        } else {
            if (!processId || '' === processId || 'null' === processId || 'NULL' === processId) {
                alert("Id为空，没有获取到，请检查！！");
            } else {
                $.ajax({
                    cache: true,//保留缓存数据
                    type: "POST",//为post请求
                    url: "/piflow-web/process/queryProcess",//这是我在后台接受数据的文件名
                    //data:$('#loginForm').serialize(),//将该表单序列化
                    data: {
                        processId: processId
                    },
                    async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                    error: function (request) {//请求失败之后的操作
                        console.log("fail");
                        return;
                    },
                    success: function (data) {//请求成功之后的操作
                        // console.log(data);
                        $('#processLeft').html(data)
                        $('#selectedRectShow').hide();
                        $('#selectedPathShow').hide();
                        $('#selectedArrowShow').hide();
                    }
                });
            }
        }
        return;
    }

    //查询stops的基本信息
    function queryProcessStop(processId, pageId) {
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/process/queryProcessStop",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {
                processId: processId,
                pageId: pageId
            },
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                console.log("fail");
                return;
            },
            success: function (data) {//请求成功之后的操作
                // console.log(data);
                $('#processLeft').html(data);
                $('#selectedRectShow').show();
                $('#selectedArrowShow').hide();
                $('#selectedPathShow').hide();
            }
        });
    }

    //查询path基本信息
    function queryProcessPath(processId, pageId) {
        if (isLoadProcessInfo) {
            isLoadProcessInfo = false;
        }
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/process/queryProcessPath",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {
                processId: processId,
                pageId: pageId
            },
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                console.log("fail");
                return;
            },
            success: function (data) {//请求成功之后的操作
                // console.log(data);
                $('#processLeft').html(data);
                $('#selectedArrowShow').show();
                $('#selectedPathShow').show();
                $('#selectedRectShow').hide();
            }
        });
    }

    //获取Checkpoint点
    function getCheckpoint() {
        fullScreen.show();
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/process/getCheckpoint",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {
                pID: pID,
                parentProcessId: parentProcessId
            },
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                startFlow.show();
                alert("Request Failed");
                fullScreen.hide();
                checkpointShow.modal('hide');
                return;
            },
            success: function (data) {//请求成功之后的操作
                //console.log("success");
                $('#checkpointContent').html(data);
                if ($('#checkpointsIsNull').val()) {
                    alert("没有查询到");
                    //checkpointShow.modal('hide');
                    runProcess(true);
                } else {
                    checkpointShow.modal('show');
                }
                startFlow.show();
                fullScreen.hide();
            }
        });

    }

    //运行
    function runProcess(flag) {
        if (!flag) {
            checkpointShow.modal('hide');
            return;
        }
        startFlow.hide();
        var checkpointStr = '';
        $('#checkpointContent').find("input[type='checkbox']:checked").each(function () {
            if ('' !== checkpointStr) {
                checkpointStr = (checkpointStr + ',');
            }
            checkpointStr = (checkpointStr + $(this).val());
        });
        fullScreen.show();
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/process/runProcess",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {
                id: processId,
                checkpointStr: checkpointStr
            },
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                startFlow.show();
                alert("Request Failed");
                fullScreen.hide();
                return;
            },
            success: function (data) {//请求成功之后的操作
                //console.log("success");
                var dataMap = JSON.parse(data);
                if ('0' !== dataMap.code) {
                    alert(dataMap.errMsg);
                    window.location.href = "/piflow-web/process/getProcessById?processId=" + dataMap.processId;
                } else {
                    alert("启动失败");
                    startFlow.show();
                    fullScreen.hide();
                }

            }
        });
    }

    //停止
    function stopProcess() {
        stopFlow.hide();
        fullScreen.show();
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/process/stopProcess",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {
                processId: processId
            },
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                stopFlow.show();
                alert("Request Failed");
                fullScreen.hide();
                return;
            },
            success: function (data) {//请求成功之后的操作
                //console.log("success");
                var dataMap = JSON.parse(data);
                if ('0' !== dataMap.code) {
                    alert(dataMap.errorMsg);
                    startFlow.show();
                } else {
                    alert("Stop Failed:" + dataMap.errMsg);
                    stopFlow.show();
                }
                fullScreen.hide();
            }
        });
    }

    function getLogUrl() {

        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/process/getLogUrl",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {"appId": appId},
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                return;
                },
            success: function (data) {//请求成功之后的操作
                //console.log("success");
                //alert(data);
                if ('0' !== data.code) {
                    stdoutLog = data.stdoutLog;
                    stderrLog = data.stderrLog;
                    changeUrl(1);
                }
            }
        });
    }

    function changeUrl(key) {
        var url
        switch (key) {
            case 1:
                url = stdoutLog;
                break;
            case 2:
                url = stderrLog;
                break;
            default:
                break;
        }
        var window_width = $(window).width();//获取浏览器窗口宽度
        var window_height = $(window).height();//获取浏览器窗口宽度
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/process/getLog",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {url: url},
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                return;
            },
            success: function (data) {//请求成功之后的操作
                console.log("success");
                if ('' !== data) {
                    $('#modalDialog').height(window_height - 124);
                    $('#modalDialog').width(window_width - 124);
                    var split0 = data.split('<td class="content">');
                    var data0 = split0[1];
                    var split2 = data0.split("</td>");
                    var data2 = split2[0];
                    "white-space: pre-line;"
                    var pre_height = window_height - 300;
                    data2 = data2.replace("<pre>", '<pre id="preId" style="white-space: pre-wrap; height: ' + pre_height + 'px;">');
                    //document.getElementById("logTitle").innerHTML = "<h1>"+data1+"</h1>";
                    document.getElementById("customContent").innerHTML = "<div id='divPreId' style='height: " + pre_height + "px'>" + data2 + "</div>";
                }
                //alert(data);
            }
        });
    }

    function processMonitoring(appId) {
        if (appId === '') {
            return;
        }
        $.ajax({
            cache: true,
            type: "get",
            url: "/piflow-web/process/getAppInfo",
            data: {appid: appId},
            async: true,
            traditional: true,
            error: function (request) {
                console.log("error");
                return;
            },
            success: function (data) {
                var dataMap = JSON.parse(data);
                if ("0" !== dataMap.code) {
                    if (dataMap.state && "" !== dataMap.state) {
                        if ('STARTED' !== dataMap.state) {
                            window.clearInterval(timer);
                            startFlow.show();
                            stopFlow.hide();
                        }
                    }
                    var processVo = dataMap.processVo;
                    if (processVo && '' != processVo) {
                        $("#progress").html(dataMap.progress + "%");
                        $("#processStartTimeShow").html(processVo.startTime);
                        $("#processStopTimeShow").html(processVo.endTime);
                        $("#processStateShow").html(dataMap.state);
                        $("#processProgressShow").html(dataMap.progress + "%");
                        // stop
                        var processStopVoList = processVo.processStopVoList;
                        if (processStopVoList && '' != processStopVoList) {
                            for (var i = 0; i < processStopVoList.length; i++) {
                                var processStopVo = processStopVoList[i];
                                if (processStopVo && '' != processStopVo) {
                                    var sotpNameDB = processStopVo.name;
                                    var sotpNameVal = $("#sotpNameShow").text();
                                    if (sotpNameDB === sotpNameVal) {
                                        $("#stopStartTimeShow").html(processStopVo.startTime);
                                        $("#stopStopTimeShow").html(processStopVo.endTime);
                                        $("#stopStateShow").html(processStopVo.state);
                                    }
                                    var pageId = processStopVo.pageId;
                                    var processStopVoState = processStopVo.state;
                                    monitor(pageId, processStopVoState)
                                }
                            }
                        }
                    }
                }
            }
        });
    }

    function monitor(pageId, processStopVoState) {
        var stopFailShow = $("#stopFailShow" + pageId);
        var stopOkShow = $("#stopOkShow" + pageId);
        var stopLoadingShow = $("#stopLoadingShow" + pageId);
        if (processStopVoState && (processStopVoState === "STARTED")) {
            stopFailShow.hide();
            stopOkShow.hide();
            stopLoadingShow.show();
        } else if (processStopVoState && processStopVoState === "COMPLETED") {
            stopFailShow.hide();
            stopLoadingShow.hide();
            stopOkShow.show();
        } else if (processStopVoState && processStopVoState === "FAILED") {
            stopOkShow.hide();
            stopLoadingShow.hide();
            stopFailShow.show();
        }
    }

    //@ sourceURL=processContent.js
</script>
</body>
</html>
