<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment=index_graph_improt>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" type="text/css" th:href="@{/components/graphEditorGroup/styles/grapheditor.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/components/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/components/layui/css/layui.css}"/>

	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Init.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/deflate/pako.min.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/deflate/base64.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/jscolor/jscolor.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/sanitizer/sanitizer.min.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/mxClient.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/EditorUi.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Editor.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Graph.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Shapes.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Actions.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Menus.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Format.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Toolbar.js}"></script>
	<script type="text/javascript" th:src="@{/components/graphEditorGroup/js/Dialogs.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
	<!--The user drags elements, links：http://api.jqueryui.com/draggable/#method-disable/-->
	<script type="text/javascript" th:src="@{/js/jquery/jquery-ui.min.js}"></script>
	<!--Mobile device users drag elements, depending on juery-ui.min.js，links：http://touchpunch.furf.com/-->
	<script type="text/javascript" th:src="@{/js/jquery/jquery.ui.touch-punch.min.js}"></script>
	<script type="text/javascript" th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/components/layui/layui.all.js}"></script>
	<script type="text/javascript">
        // Parses URL parameters. Supported parameters are:
        // - lang=xy: Specifies the language of the user interface.
        // - touch=1: Enables a touch-style user interface.
        // - storage=local: Enables HTML5 local storage.
        // - chrome=0: Chromeless mode.
        var urlParams = (function(url)
        {
            var result = new Object();
            var idx = url.lastIndexOf('?');

            if (idx > 0)
            {
                var params = url.substring(idx + 1).split('&');

                for (var i = 0; i < params.length; i++)
                {
                    idx = params[i].indexOf('=');

                    if (idx > 0)
                    {
                        result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
                    }
                }
            }

            return result;
        })(window.location.href);

        // Default resources are included in grapheditor resources
        mxLoadResources = false;
	</script>
</head>
<body>
</body>
</html>
