<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment=group_graphEditor_crumbs>
    <span id="web_flowGroupList_navigation">
        <span style="color: #ffffff">
            <a style="color: #ffffff" th:href="@{/web/flowGroupList}">FlowGroupList</a>
        </span>
        <span style="color: #ffffff">>></span>
    </span>
	<span style="color: #ffffff; font-weight: bold">FlowGroupContent</span>
</div>

</body>
</html>
