<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment=process_group_List>
<!-- content starts -->
<div class="wrapper" style="margin: 20px;">
    <!-- Media datatable -->
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <h6 style="color: #1A7444">Processe</h6>
            </div>
        </div>
        <div class="table-overflow">
            <table id="testTableId" class="table table-striped table-bordered table-checks" style="width: 100%;">
                <thead>
                <tr>
                    <th class="table_tr_th">ProcessGroupId</th>
                    <th class="table_tr_th">Name</th>
                    <th class="table_tr_th">Description</th>
                    <th class="table_tr_th">StartTime</th>
                    <th class="table_tr_th">EndTime</th>
                    <th class="table_tr_th">Progress</th>
                    <th class="table_tr_th">Status</th>
                    <th class="table_tr_th actions-column"style="min-width:245px;">Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /media datatable -->
</div>
<!-- content ends -->

<!-- Modal Checkpoint -->
<div class="modal" id="checkpointListShow" aria-labelledby="myModalLabel" data-backdrop="static"
     style="z-index: 10000; display: none">
    <div id="modalDialogPort" class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;  top: 77px;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelPort">CHOOSE CHECKPOINT WINDOWS</h4>
            </div>
            <div id="checkpointListContent" class="modal-body">
                Did not find checkpoint information
                <input type="checkbox" value="">
            </div>
            <div class="modal-footer">
                <button id="runProcessBtn" type="button" class="btn btn-default">Run</button>
                <button id="debugProcessBtn" type="button" class="btn btn-default">Debug</button>
                <button id="cancelProcessBtn" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div th:include="Macro/fragmentMacro :: fullScreen"></div>
<script th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacroScript"/>
<script th:src="@{/custom/js/processGroupList.js}"></script>
<script th:inline="javascript">
    initDatatablePage("testTableId", "/piflow-web/processGroup/processGroupListPage");
    (function () {
        timer = window.setInterval("processGroupListMonitoring()", 5000);
    })();
    //@ sourceURL=processList0.js
</script>
</body>
</html>
