<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=5,IE=9"><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>piflow-web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
    <link rel="stylesheet" type="text/css" th:href="@{/grapheditor/styles/grapheditor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
</head>
<body>
<div th:unless="${runningProcessVoList}" style="line-height: 25px;">
</div>
<div th:if="${runningProcessVoList}" style="line-height: 25px;">
    <div id="runningProcessID" style="white-space: nowrap; color: rgb(112, 112, 112); text-align: left; cursor: default; line-height: 25px;">
        <div style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
            <div style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">
                running process
            </div>
            <table style="border-collapse: separate; border-spacing: 0px 5px;">
                <tbody>
                    <tr>
                        <td><span>processName</span></td>
                        <td><label>startTime</label></td>
                    </tr>
                    <tr th:each='processVo:${runningProcessVoList}'>
                        <td width="45%"><label th:text="${processVo.name}"></label></td>
                        <td width="45%"><label th:text="${#dates.format(processVo.startTime, 'yyyy-MM-dd HH:mm:ss')}"></label></td>
                        <td width="10%"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    //@ sourceURL=runningProcess.js
</script>
</body>
</html>
