<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment=data_source_List>
<!-- content starts -->
<div class="wrapper" style="margin: 20px;">
    <!-- Media datatable -->
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <h6 style="color: #1A7444">Data Source</h6>
            </div>
        </div>
        <div class="navbar">
            <a class="btn" href="javascript:void(0);" onclick="dataSourceOpen()"
               style="background-color: #C0C0C0;border: 1px solid;color: #21794c;"
               title="create datasource">
                <i class="icon-plus-sign icon-white"></i>
            </a>
        </div>
        <div class="table-overflow">
            <table id="testTableId" class="table table-striped table-bordered table-checks" style="width: 100%;">
                <thead>
                <tr>
                    <th class="table_tr_th">Name</th>
                    <th class="table_tr_th">Description</th>
                    <th class="table_tr_th">Type</th>
                    <th class="table_tr_th actions-column"style="min-width:80px;">Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /media datatable -->
</div>
<!-- content ends -->
<div th:include="Macro/fragmentMacro :: fullScreen"></div>
<script th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacroScript"/>
<script th:src="@{/custom/js/dataSourceList.js}"></script>
<script th:inline="javascript">
    initDataTablePage("testTableId", "/piflow-web/datasource/getDataSourceListPagination");
    window.onload = function () {
        timer = window.setInterval("processListMonitoring()", 5000);
        //$(".paginate_button.current")[0].style.backgroundColor="red";
    };
    //@ sourceURL=dataSourceList.js
</script>
</body>
</html>
