<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment=process_List>
<meta th:include="/Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
<link th:src="@{/css/dataTables1.10.18/jquery.dataTables.css}"></link>
<style type="text/css">
    /*人为制造一个占据整个屏幕的Div,其透明度为0.7且z-index为9999使之前的页面被压在底层无法点击*/
    .fullScreenList {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.7;
        background-color: black;
        z-index: 9999;
        text-align: center;
    }
</style>
<script th:src="@{/charisma/js/layer/layer.js}"></script>
<!-- content starts -->
<div class="wrapper" style="margin: 20px;">
    <!-- Search widget -->
    <!--
    <form class="search widget" action="#">
        <div class="autocomplete-append">
            <ul class="search-options">
                <li><a href="#" title="Go to search page" class="go-option tip"></a></li>
                <li><a href="#" title="Advanced search" class="advanced-option tip"></a></li>
                <li><a href="#" title="Settings" class="settings-option tip"></a></li>
            </ul>
            <input type="text" placeholder="search website..." id="autocomplete"/>
            <input type="submit" class="btn btn-info" value="Search"/>
        </div>
    </form>
    -->
    <!-- /search widget -->
    <!-- Media datatable -->
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <h6>Process List</h6>
            </div>
        </div>
        <div class="table-overflow">
            <table id="testTableId" class="table table-striped table-bordered table-checks" style="width: 100%;">
                <thead>
                <tr>
                    <th width="18%">ProcessID</th>
                    <th width="12%">Name</th>
                    <th width="12%">Description</th>
                    <th width="12%">StartTime</th>
                    <th width="12%">EndTime</th>
                    <th width="12%">Progress</th>
                    <th width="8%">State</th>
                    <th width="14%" class="actions-column">Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /media datatable -->
</div>
<!-- content ends -->
<!-- Modal Checkpoint -->
<!-- Modal Checkpoint -->
<div class="modal" id="checkpointListShow" aria-labelledby="myModalLabel" data-backdrop="static"
     style="z-index: 10000; display: none">
    <div id="modalDialogPort" class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;  top: 77px;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelPort">CHOOSE CHECKPOINT WINDOWS</h4>
            </div>
            <div id="checkpointListContent" class="modal-body">
                Did not find checkpoint information
                <input type="checkbox" value="">
            </div>
            <div class="modal-footer">
                <button id="runProcessBtn" type="button" class="btn btn-default">Run</button>
                <button id="stopProcessBtn" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id='fullScreenList' class="fullScreenList" style="display: none;">
    <div style="margin-top: 15%;">
        <p>
            <img th:src="@{/img/fullScreen.gif}" alt="">
        </p>
    </div>
    `
</div>
<script th:include="/Macro/csrfTokeHeadMacroScript :: csrfTokeHeadMacroScript"/>
<script th:src="@{/custom/processList.js}"></script>
<script th:inline="javascript">
    $(function () {
        timer = window.setInterval("processListMonitoring()", 5000);
        initDatatablePage("testTableId", "/piflow-web/process/processListPage");
    });
    //@ sourceURL=processList0.js
</script>
</body>
</html>