<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment=sys_schedule_List>

<!-- content starts -->
<div class="wrapper" style="margin: 20px;">

    <!-- Media datatable -->
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <h6 style="color: #1A7444">Schedules</h6>
            </div>
        </div>
        <div class="navbar">
            <a class='btn' href='javascript:void(0);' onclick="newScheduleWindow();"
               style='background-color: #C0C0C0;border: 1px solid;color: #21794c;' title="create schedule">
                <i class='icon-plus-sign icon-white'></i>
            </a>
        </div>
        <div class="table-overflow">
            <table id="scheduleTableId" style="width: 100%" class="table table-striped table-bordered table-checks">
                <thead>
                <tr>
                    <th class="table_tr_th">Name</th>
                    <th class="table_tr_th">Class</th>
                    <th class="table_tr_th">Cron</th>
                    <th class="table_tr_th">Status</th>
                    <th class="table_tr_th">CreateTime</th>
                    <th class="table_tr_th actions-column" style="min-width:245px;">Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /media datatable -->
</div>
<!-- content ends -->

<div style="display: none;" id="SubmitPage">
    <br>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">Name</label>
            <div class="layui-input-block">
                <input type="hidden" id="scheduleId"/>
                <input id="scheduleName"
                       autocomplete="off"
                       class="layui-input"
                       style="width: 400px;margin-left: 20px;"
                       placeholder="please input scheduleName..."/>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Class</label>
            <div class="layui-input-block">
                <input id="scheduleClass"
                       cautocomplete="off"
                       class="layui-input"
                       style="width: 400px;margin-left: 20px;"
                       placeholder="please input class path..."/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Cron</label>
            <div class="layui-input-block">
                <input id="scheduleCron"
                       autocomplete="off"
                       class="layui-input"
                       style="width: 400px;margin-left: 20px;"
                       placeholder="please input cron expression..."/>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;margin-right: 90px;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary" onclick='saveFlow()'
                        style="color: #ffffff;background-color: #2f7600;border-color: #2f7600;" id="buttonSchedule">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
<div th:include="Macro/fragmentMacro :: fullScreen"></div>

<script th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacroScript"/>
<script th:src="@{/custom/js/sysScheduleList.js}"></script>
<script th:inline="javascript">
    initDatatableSchedulePage('scheduleTableId', "/piflow-web/sysSchedule/getScheduleListPage");
    /*$(document).ready(function () {

    });*/
    //@ sourceURL=table_right.js
</script>
</body>
</html>
