<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=5,IE=9"><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grapheditor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/grapheditor/styles/grapheditor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/charisma/css/bootstrap.min.css}">
    <style type="text/css">
        /*人为制造一个占据整个屏幕的Div,其透明度为0.7且z-index为9999使之前的页面被压在底层无法点击*/
        .fullScreen {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.7;
            background-color: black;
            z-index: 9999;
            text-align: center;
        }
    </style>
    <script th:inline="javascript">
        var stopsGroupData = [[${groupsList}]];
        var xmlDate = [[${xmlDate}]];
        var loadId = [[${load}]];
        var appId = [[${appId}]];
        var flowState = [[${flowState}]];
        var stdoutLog = [[${stdoutLog}]];
        var stderrLog = [[${stderrLog}]];
        var divValue = null;

        function divAppend(divAppend) {
            divValue = divAppend;
        }
    </script>
    <meta th:include="/grapheditor/inc/index_improt :: index_improt"/>
</head>
<body class="geEditor">
<div id='fullScreen' class="fullScreen" style="display: none;">
    <div style="margin-top: 15%;">
        <p>
            <img th:src="@{/img/fullScreen.gif}" alt="">
        </p>
    </div>
</div>
<div style="width: 30%; float: right;">
    <div style="position: fixed; z-index: 999;text-align: right; width: 30%;">
			<span>
				进度：<span id="progress">0.00%</span>
			</span>
        <input id="reloadStops" type="button" onclick="reloadStops()" value="ReloadStops"/>
        <input id="startFlow" type="button" onclick="runFlow()" value="运行"/>
        <input id="stopFlow" type="button" onclick="stopFlows()" value="停止"/>
        <input type="button" class="btn-primary" data-toggle="modal" onclick="getLogUrl()" data-target="#myModal"
               value="日志"/>
    </div>
</div>
<!-- Modal 日志 -->
<div class="modal" id="myModal" aria-labelledby="myModalLabel" data-backdrop="static">
    <div id="modalDialog" class="modal-dialog" role="document">
        <div class="modal-content" style="width: 200%; left: -290px; top: 77px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">LOG WINDOWS</h4>
            </div>
            <div class="modal-body">
                <!-- <div id="logTitle">加载中</div> -->
                <table border="1" style="width: 100%; height: 100%;">
                    <tr style="height: 90%;">
                        <td id="customContent">
                            loading.....
                        </td>
                    </tr>
                </table>
                <input type="button" onclick="changeUrl(1)" value="stdout">
                <input type="button" onclick="changeUrl(2)" value="stderr">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 端口 -->
<div class="modal" id="myModalPort" aria-labelledby="myModalLabel" data-backdrop="static">
    <div id="modalDialogPort" class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;  top: 77px;">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <h4 class="modal-title" id="myModalLabelPort">CHOOSE PROT WINDOWS</h4>
            </div>
            <div class="modal-body">
                <!-- 提供copy的端口checkbox -->
                <div id="copyDivCheckbox" style="display: none">
                    <input type="checkbox">
                    <span></span>
                </div>
                <!-- 提供copy的端口创建按钮 -->
                <div id="copyDivCrtBtn" style="display: none">
                    <input/>
                    <button>CreatePort</button>
                </div>
                <from id="protInfo">
                    <div id="sourceTitle" style="display: none">
                        <span style="font-size: 30px">SourcePort</span>
                        <div id="sourceTitleCheckbox"></div>
                        <div id="sourceTitleBtn"></div>
                    </div>
                    <hr/>
                    <div id="targetTitle" style="display: none">
                        <span style="font-size: 30px">TargetPort</span>
                        <div id="targetTitleCheckbox"></div>
                        <div id="targetTitleBtn"></div>
                    </div>
                </from>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="chooseProt(1)">Submit</button>
                <button type="button" class="btn btn-default" onclick="chooseProt(0)">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--初始化画板-->
<script type="text/javascript" th:src="@{/grapheditor/initGraph.js}"></script>
<script type="text/javascript">
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    var startFlow = $('#startFlow');
    var stopFlow = $('#stopFlow');
    var fullScreen = $('#fullScreen');
    var pathsCells = [];
    $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
    var timer;
    var flag = 0;

    function findBasicInfo(evt) {
        console.info(evt);
        flag = 0;
    	var cells = null;
    	var id = null;
    	var value = null;
    	var ss = [];
            //针对不同事件设置值
           	if('cellsAdded' == evt.name){
         		  cells = evt.properties.cells;
         		  ss = cells[0];  
         		  value = ss.value ; 
         		  id = ss.id;
             }else{  
            	  cells = evt.properties;
            	  if(null != cells.cell){
            	  value = cells.cell.value; 
            	  id = cells.cell.id;
            	  }
            }
        if (typeof(cells) != "undefined" && null != id && "" != id && "null" != id) {
            if (document.getElementById("stopsNameLabel"))
                document.getElementById('stopsNameLabel').innerText = value;
            //选中是线的情况
            if (cells.cell && cells.cell.edge) {
                if (cells.cell.target && cells.cell.source) {
                    //查询phth
                    queryPathInfo(id);
                }
            }else{
                //查询stops以及属性信息；
                queryStopsProperty(id);
            }
        }
    }
    function queryStopsProperty(id){
    	if(flag > 5){
            window.clearTimeout(t1);
    	}
        $.ajax({
            cache: true,
            type: "POST",
            url: "/piflow-web/stops/queryIdInfo",
            data: {"id": id, "fid": loadId},
            async: true,
            error: function (request) {
                //alert("Jquery Ajax request error!!!");
                return;
            },
            success: function (data) {
                if ("" != data) {
                    console.log("stops属性查询success");
                    add(data.properties);
                    document.getElementById('stopsNameLabel').innerText = data.name;
                    document.getElementById('stopsDescription').innerText = data.description;
                    document.getElementById('stopsGroups').innerText = data.groups;
                    document.getElementById('stopsBundel').innerText = data.bundel;
                    document.getElementById('stopsVersion').innerText = data.version;
                    document.getElementById('stopSowner').innerText = data.owner;
                    document.getElementById('stopCreateDate').innerText = data.crtDttmString;
                    //成功的话去掉定时器
                    window.clearTimeout(t1);
                } else {
                    console.log("stops属性查询null");
                    var t1 = window.setTimeout(queryStopsProperty(id),500);
                    flag ++;
                }
            }
        });
    }

    function queryPathInfo(id){
        $.ajax({
            cache: true,
            type: "POST",
            url: "/piflow-web/path/queryPathInfo",
            data: {"id": id, "fid": loadId},
            async: true,
            error: function (request) {
                //alert("Jquery Ajax request error!!!");
                return;
            },
            success: function (data) {
                if ("" != data) {
                    console.log("path查询success");
                    console.info(data);
                    $("#AttributeInfoId").hide();
                    $("#basicInfoId").html('线信息');
                    $('#basicInfoId').css('text-align','');
                    $("#stopsNameID").html('pageId');
                    $("#GroupNameID").html('form');
                    $("#descriptionID").html('to');
                    $("#bundelID").html('inport');
                    $("#versionID").html('outport');
                   // $("#ownerID").html('port');
                    $("#createDateID").html('flowName');
                    document.getElementById('stopsNameLabel').innerText = data.pageId;
                    document.getElementById('stopsDescription').innerText = data.to;
                    document.getElementById('stopsGroups').innerText = data.from;
                    document.getElementById('stopsBundel').innerText = data.inport;
                    document.getElementById('stopsVersion').innerText = data.outport;
                    //document.getElementById('stopSowner').innerText = data.port;
                    document.getElementById('stopCreateDate').innerText = data.flow;
                } else {
                    console.log("path属性查询null");
                }
            }
        });
    }

    function add(data) {
        if (data != null && data.length > 0) {
            while (divValue.hasChildNodes()) {
                divValue.removeChild(divValue.firstChild);
            }
            var table = document.createElement("table");
            table.style.borderCollapse = "separate";
            table.style.borderSpacing = "0px 5px";
            var tbody = document.createElement("tbody");
            for (var y = 0; y < data.length; y++) {
                var select = document.createElement('select');
                select.style.width = "210px";
                select.style.height = "26px";
                select.setAttribute('id', '' + data[y].displayName + '');
                select.setAttribute('onblur', 'shiqu("' + data[y].id + '","' + data[y].displayName + '")');
                var displayName = data[y].displayName;
                var customValue = data[y].customValue;
                var allowableValues = data[y].allowableValues;
                //是否必填
                var required = data[y].required;
                //如果大于4表示有下拉框
                if (allowableValues.length > 4) {
                    var selectValue = JSON.parse(allowableValues);
                    var selectInfo = JSON.stringify(selectValue);
                    var strs = selectInfo.split(",");
                    //循环给select下来赋值
                    for (i = 0; i < strs.length; i++) {
                        var option = document.createElement("option");
                        option.value = strs[i].replace("\"", "").replace("\"", "").replace("\[", "").replace("\]", "");
                        option.innerHTML = strs[i].replace("\"", "").replace("\"", "").replace("\[", "").replace("\]", "");
                        //设置默认选中项
                        if (strs[i].indexOf('' + customValue + '') != -1) {
                            option.setAttribute('selected', 'selected');
                        }
                        select.appendChild(option);
                    }
                }
                var displayName = document.createElement('textarea');
                if (required)
                displayName.setAttribute('class', 'true');
                displayName.setAttribute('onclick', 'dbssn("' + data[y].displayName + '")');
                displayName.setAttribute('id', '' + data[y].displayName + '');
                displayName.setAttribute('rows', '2');
                displayName.setAttribute('cols', '20');
                displayName.setAttribute('onblur', 'shiqu("' + data[y].id + '","' + data[y].displayName + '")');
                displayName.style.width = "210px";
                displayName.style.resize = "none";
                displayName.innerHTML = '' + customValue + '';
                var spanDisplayName = 'span' + data[y].displayName;
                var spanDisplayName = document.createElement('span');
                var spanFlag = document.createElement('span');
                spanDisplayName.style.cursor = "pointer";
                spanDisplayName.setAttribute('title', '' + data[y].description + '');
                spanFlag.setAttribute('style', 'color:red');
                mxUtils.write(spanDisplayName, '' + data[y].displayName + '');
                mxUtils.write(spanFlag, '*');
                var tr = document.createElement("tr");
                var td = document.createElement("td");
                td.style.width = "60px";
                var td1 = document.createElement("td");
                var td2 = document.createElement("td");
                //开始appendchild()追加各个元素
                td.appendChild(spanDisplayName);
                //本次循环大于4追加下拉,小于4默认文本框
                if (allowableValues.length > 4) {
                    td1.appendChild(select);
                } else {
                    td1.appendChild(displayName);
                    if (required)
                    td2.appendChild(spanFlag);
                }
                tr.appendChild(td);
                tr.appendChild(td1);
                tr.appendChild(td2);
                tbody.appendChild(tr);
                table.appendChild(tbody);
            }
            var btn = mxUtils.button('submit', mxUtils.bind(this, function (evt) {
                //创建一个数组
                var arrayObj = new Array();
                for (var y = 0; y < data.length; y++) {
                    var content = document.getElementById('' + data[y].displayName + '').value;
                    var classname = document.getElementById('' + data[y].displayName + '').className;
                    if (content != null && content.length > 0) {
                        arrayObj.push(content + "#id#" + data[y].id);
                    } else {
                        if (classname == 'true') {
                            $("#" + data[y].displayName + "").focus();
                            $("#" + data[y].displayName + "").css("background-color", "#FFD39B");
                        }
                    }
                }
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "/piflow-web/stops/updateStops",
                    data: {content: arrayObj},
                    async: true,
                    traditional: true,
                    error: function (request) {
                        console.log("attribute update error");
                        return;
                    },
                    success: function (data) {
                        console.log("attribute update success");
                        $("textarea").blur();
                        $("select").blur();
                    }
                });
            }));
            btn.style.width = '202px';
            btn.style.marginLeft = '18px';
            btn.style.marginTop = '10px';
            divValue.appendChild(table);
            //divValue.appendChild(btn);
        }
    }
    
    function dbssn(id){
      	 $("#" + id + "").focus();
       }

    // 添加操作处理
    function addCellsCustom(cells, operType) {
        var removePaths = [];
        var paths = [];
        for (var i = 0; i < cells.length; i++) {
            var cellfor = cells[i];
            if (cellfor && cellfor.edge) {
                if (cellfor.target && cellfor.source) {
                    paths[paths.length] = cellfor;
                } else {
                    removePaths[removePaths.length] = cellfor;
                }
            } else if (cellfor.style && (cellfor.style).indexOf("text\;") === 0) {
                removePaths[removePaths.length] = cellfor;
            }
        }
        graphGlobal.removeCells(removePaths);
        if (cells.length != removePaths.length) {
            saveXml(paths, operType);
        }
    }

    //保存xml文件和相关信息
    function saveXml(paths, operType) {
        var getXml = thisEditor.getGraphXml();
        var sssss = getXml.outerHTML;
        //var waitxml = encodeURIComponent(getXml.outerHTML);//这就是要提交到后台的xml代码

        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/grapheditor/saveData",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {
                imageXML: sssss,
                load: loadId,
                operType: operType
            },
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                return;
            },
            success: function (data) {//请求成功之后的操作
                var dataMap = JSON.parse(data);
                if (0 !== dataMap.code) {
                    console.log(operType + " save success");
                    thisEditor.setModified(false);
                    if (operType && '' !== operType) {
                        //获取port
                        getStopsPort(paths);
                    }
                } else {
                    alert(operType + " save fail");
                    console.log(operType + " save fail");
                    fullScreen.hide();
                }
            }
        });
    }

    //打开xml文件
    function openXml() {
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/flow/loadData",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                return;
            },
            success: function (data) {//请求成功之后的操作
                loadXml(data);
                console.log("success");
            }
        });
    }

    //加载xml文件
    function loadXml(loadStr) {
        var xml = mxUtils.parseXml(loadStr);
        var node = xml.documentElement;
        var dec = new mxCodec(node.ownerDocument);
        dec.decode(node, graphGlobal.getModel());
        thisEditor.lastSnapshot = new Date().getTime();
        thisEditor.undoManager.clear();
        thisEditor.ignoredChanges = 0;
        thisEditor.setModified(false);
    }

    //请求接口重新加载stops
    function reloadStops() {
        fullScreen.show();
        $.ajax({
            data: {"load": loadId},
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/grapheditor/reloadStops",//这是我在后台接受数据的文件名
            error: function (request) {//请求失败之后的操作
                fullScreen.hide();
                alert("reload fail");
                return;
            },
            success: function (data) {//请求成功之后的操作
                var dataMap = JSON.parse(data);
                if (0 !== dataMap.code) {
                    window.location.href = "/piflow-web/grapheditor/home?load=" + dataMap.load + "&_" + new Date().getTime();
                } else {
                    alert("reload fail");
                    fullScreen.hide();
                }
            }
        });
    }

    function queryFlowInfo() {
        $.ajax({
            data: {"load": loadId},
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/flow/queryFlowData",//这是我在后台接受数据的文件名
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                return;
                stopFlow.show();
            },
            success: function (data) {//请求成功之后的操作
                var dataMap = JSON.parse(data);
                if (document.getElementById("UUID")) {//js判断元素是否存在
                    var flow = dataMap.flow;
                    if (flow != null && flow != "")
                    var flowInfoDbInfo = flow.flowInfoDbVo;
                    if (flow != null && flow != "") {
                        document.getElementById('UUID').innerText = flow.uuid ? flow.uuid : "No content";
                        document.getElementById('flowName').innerText = flow.name ? flow.name : "No content";
                        document.getElementById('flowDescription').innerText = flow.description ? flow.description : "No content";
                        document.getElementById('createrTime').innerText = flow.crtDttmString ? flow.crtDttmString : "No content";
                    }else{
                    	document.getElementById('UUID').innerText = "No content";
                        document.getElementById('flowName').innerText = "No content";
                        document.getElementById('flowDescription').innerText = "No content";
                        document.getElementById('createrTime').innerText = "No content";
                    } 
                    if (flowInfoDbInfo != null && flowInfoDbInfo != ""){
                        document.getElementById('startTime').innerText = flowInfoDbInfo.startTime ? flowInfoDbInfo.startTime : "No startTime" ;
                        document.getElementById('stopTime').innerText = flowInfoDbInfo.endTime ? flowInfoDbInfo.endTime : "No stopTime" ;
                        document.getElementById('progressData').innerText = flowInfoDbInfo.progress ? flowInfoDbInfo.progress + '%' : "0%" ;
                        document.getElementById('state').innerText = flowInfoDbInfo.state ? flowInfoDbInfo.state : "No state" ;
                     }else{
                    	 document.getElementById('startTime').innerText = "No startTime" ;
                         document.getElementById('stopTime').innerText = "No stopTime" ;
                         document.getElementById('progressData').innerText = "0%" ;
                         document.getElementById('state').innerText = "No state" ;
                     }
                }
            }
        });
    }

    //运行
    function runFlow() {
        startFlow.hide();
        fullScreen.show();
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/flow/runFlow",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {flowId: loadId},
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                startFlow.show();
                alert("请求失败");
                fullScreen.hide();
                return;
            },
            success: function (data) {//请求成功之后的操作
                //console.log("success");
                var dataMap = JSON.parse(data);
                if ('0' !== dataMap.code) {
                    alert(dataMap.errMsg);
                    //$('#appId').val(data);
                    appId = dataMap.appid;
                    startFlow.hide();
                    timer = window.setInterval("tableRow(appId)", 5000);
                } else {
                    alert("启动失败");
                    startFlow.show();
                }
                fullScreen.hide();
            }
        });
    }

    //停止
    function stopFlows() {
        stopFlow.hide();
        fullScreen.show();
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/flow/stopFlow",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {flowId: loadId},
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                stopFlow.show();
                alert("请求失败");
                fullScreen.hide();
                return;
            },
            success: function (data) {//请求成功之后的操作
                //console.log("success");
                if ('0' !== data) {
                    alert(data);
                    startFlow.show();
                } else {
                    alert("停止失败");
                    stopFlow.show();
                }
                fullScreen.hide();
            }
        });
    }

    function getLogUrl() {
        //appId = "application_1539850523117_0152";
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/flow/getLogUrl",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {"appId": appId},
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                return;
            },
            success: function (data) {//请求成功之后的操作
                console.log("success");
                if ('0' !== data.code) {
                    stdoutLog = data.stdoutLog;
                    stderrLog = data.stderrLog;
                    changeUrl(1);
                }
                //alert(data);
            }
        });
    }

    function changeUrl(key) {
        var url
        switch (key) {
            case 1:
                url = stdoutLog;
                break;
            case 2:
                url = stderrLog;
                break;
            default:
                break;
        }
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/flow/getLog",//这是我在后台接受数据的文件名
            //data:$('#loginForm').serialize(),//将该表单序列化
            data: {url: url},
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                return;
            },
            success: function (data) {//请求成功之后的操作
                console.log("success");
                if ('' !== data) {
                    var split0 = data.split('<td class="content">');
                    var data0 = split0[1];
                    var split2 = data0.split("</td>");
                    var data2 = split2[0];
                    "white-space: pre-line;"
                    data2 = data2.replace("<pre>", '<pre style="white-space: pre-wrap; height: 288px;">');
                    //document.getElementById("logTitle").innerHTML = "<h1>"+data1+"</h1>";
                    document.getElementById("customContent").innerHTML = "<div>" + data2 + "</div>";
                }
                //alert(data);
            }
        });
    }

    function tableRow(appId) {
        if (appId === '') {
            return;
        }
        $.ajax({
            cache: true,
            type: "get",
            url: "/piflow-web/flowInfoDb/getAppInfoProgress",
            data: {appid: appId},
            async: true,
            traditional: true,
            error: function (request) {
                console.log("error");
                return;
            },
            success: function (data) {
                var dataMap = JSON.parse(data);
                if (0 !== dataMap.code) {
                    if (dataMap.state && "" !== dataMap.state) {
                        if ('STARTED' !== dataMap.state || dataMap.progress === 100) {
                            window.clearInterval(timer);
                        }
                    }
                    document.getElementById("progress").innerHTML = ":" + dataMap.progress + "%";
                }
            }
        });
    }

    //获取端口
    function getStopsPort(paths) {
        if (paths && paths.length > 0) {
            pathsCells = paths;
            if (pathsCells.length > 1) {
                graphGlobal.removeCells(pathsCells);
            } else {
                var sourceMxCellId = '';
                var targetMxCellId = '';
                var pathLine = pathsCells[0];
                var pathLineId = pathLine.id;
                var sourceMxCell = pathLine.source;
                var targetMxCell = pathLine.target;
                if (targetMxCell) {
                    sourceMxCellId = sourceMxCell.id;
                }
                if (targetMxCell) {
                    targetMxCellId = targetMxCell.id;
                }
                $.ajax({
                    cache: true,
                    type: "get",
                    url: "/piflow-web/grapheditor/getStopsPort",
                    data: {
                        "flowId": loadId,
                        "sourceId": sourceMxCellId,
                        "targetId": targetMxCellId,
                        "pathLineId": pathLineId
                    },
                    async: true,
                    traditional: true,
                    error: function (request) {
                        console.log("error");
                        return;
                    },
                    success: function (data) {
                        var dataMap = JSON.parse(data);
                        //alert(dataMap);
                        if ('1' === dataMap.code) {
                            var sourceType = dataMap.sourceType;
                            var targetType = dataMap.targetType;
                            var sourceTypeStr = sourceType.text;
                            var targetTypeStr = targetType.text;
                            //判断可用端口数，如果可用端口数不大于0则直接删除线
                            if (dataMap.sourceCounts > 0 && dataMap.targetCounts > 0) {

                                // 获取source端口的详细使用情况
                                var sourcePortUsageMap = dataMap.sourcePortUsageMap;
                                if (sourcePortUsageMap) {
                                    $('#copyDivCheckbox').show();
                                    for (portName in sourcePortUsageMap) {
                                        var portNameVal = sourcePortUsageMap[portName];
                                        var obj = $('#copyDivCheckbox').clone();
                                        $(obj).removeAttr("id");
                                        $(obj).attr('class', 'addCheckbox').attr('id', portName + 'Checkbox');
                                        $(obj).find('input').attr('class', 'addCheckbox').attr('id', portName).attr('name', portName).attr('value', portName).attr('checked', !portNameVal).attr('disabled', !portNameVal);
                                        $(obj).find('span').attr('class', 'addCheckbox').attr('class', portName).attr('disabled', !portNameVal);
                                        $('#sourceTitleCheckbox').append(obj);
                                        $('.' + portName).text(portName);
                                    }
                                    // 当类型为Any时，添加创建按钮
                                    if ('Any' === sourceTypeStr) {
                                        $('#copyDivCrtBtn').show();
                                        var sourceCrtBtn = $('#copyDivCrtBtn').clone();
                                        $(sourceCrtBtn).removeAttr("id");
                                        $(sourceCrtBtn).attr('class', 'addCrtBtn').attr('id', 'sourceCrtBtn');
                                        $(sourceCrtBtn).find('input').attr('class', 'addCrtBtn').attr('id', 'sourceCrtPort');
                                        $(sourceCrtBtn).find('button').attr('class', 'addCrtBtn').attr('onclick', 'crtAnyPort("sourceCrtPort",true)');
                                        $('#sourceTitleBtn').append(sourceCrtBtn);
                                        $('#copyDivCrtBtn').hide();
                                    }
                                    $('#sourceTitle').show();
                                    $('#copyDivCheckbox').hide();
                                }

                                // 获取target端口的详细使用情况
                                var targetPortUsageMap = dataMap.targetPortUsageMap;
                                if (targetPortUsageMap) {
                                    $('#copyDivCheckbox').show();
                                    for (portName in targetPortUsageMap) {
                                        var portNameVal = targetPortUsageMap[portName];
                                        var obj = $('#copyDivCheckbox').clone();
                                        $(obj).removeAttr("id");
                                        $(obj).attr('class', 'addCheckbox').attr('id', portName + 'Checkbox');
                                        $(obj).find('input').attr('class', 'addCheckbox').attr('id', portName).attr('name', portName).attr('value', portName).attr('checked', !portNameVal).attr('disabled', !portNameVal);
                                        $(obj).find('span').attr('class', 'addCheckbox').attr('class', portName).attr('disabled', !portNameVal);
                                        $('#targetTitleCheckbox').append(obj);
                                        $('.' + portName).text(portName);
                                    }
                                    // 当类型为Any时，添加创建按钮
                                    if ('Any' === targetTypeStr) {
                                        $('#copyDivCrtBtn').show();
                                        var targetCrtBtn = $('#copyDivCrtBtn').clone();
                                        $(targetCrtBtn).removeAttr("id");
                                        $(targetCrtBtn).attr('class', 'addCrtBtn').attr('id', 'targetCrtBtn');
                                        $(targetCrtBtn).find('input').attr('class', 'addCrtBtn').attr('id', 'targetCrtPort');
                                        $(targetCrtBtn).find('button').attr('class', 'addCrtBtn').attr('onclick', 'crtAnyPort("targetCrtPort",false)');
                                        $('#targetTitleBtn').append(targetCrtBtn);
                                        $('#copyDivCrtBtn').hide();
                                    }
                                    $('#targetTitle').show();
                                    $('#copyDivCheckbox').hide();
                                }
                                if ("Default" === sourceTypeStr && "Default" === targetTypeStr) {
                                    $('#myModalPort').modal('hide');
                                } else if ("None" === sourceTypeStr || "None" === targetTypeStr) {
                                    $('#myModalPort').modal('hide');
                                } else {
                                    $('#myModalPort').modal('show');
                                }
                            } else {
                                graphGlobal.removeCells(pathsCells);
                            }

                        } else {
                            graphGlobal.removeCells(pathsCells);
                        }
                    }
                });

            }
        }
    }

    // 选择端口
    function chooseProt(paths) {
        if (1 === paths) {
            var sourcePortVal = '';
            var targetPortVal = '';
            var sourceTitle = $('#sourceTitle');
            var targetTitle = $("#targetTitle");
            if (!sourceTitle && !targetTitle) {
                alert("页面报错，请检查！");
                return false;
            }
            var sourceTitleCheckbox = $('#sourceTitleCheckbox');
            var targetTitleCheckbox = $("#targetTitleCheckbox");
            if (targetTitleCheckbox) {
                var sourceDivDisplay = sourceTitle.css('display');
                if (sourceDivDisplay == 'none') {
                    alert("被你发现了，我是隐藏的啦！");
                } else {
                    if (sourceTitleCheckbox.find("input[type='checkbox']:checked").length > 1) {
                        alert("sourcePort只能选一个");
                        return false;
                    }
                    if (sourceTitleCheckbox.find("input[type='checkbox']:checked").length < 1) {
                        alert("请选择sourcePort");
                        return false;
                    }
                    sourceTitleCheckbox.find("input[type='checkbox']:checked").each(function () {
                        if ('' === sourcePortVal) {
                            sourcePortVal = $(this).val();
                        } else {
                            sourcePortVal = sourcePortVal + "," + $(this).val();
                        }
                    });
                }
            } else {
                alert("页面报错，请检查！");
                return false;
            }
            if (targetTitleCheckbox) {
                var targetDivDisplay = targetTitle.css('display');
                if (targetDivDisplay == 'none') {
                    alert("被你发现了，我是隐藏的啦！");
                } else {
                    if (targetTitleCheckbox.find("input[type='checkbox']:checked").length > 1) {
                        alert("targetPort只能选一个");
                        return false;
                    }
                    if (targetTitleCheckbox.find("input[type='checkbox']:checked").length < 1) {
                        alert("请选择targetPort");
                        return false;
                    }
                    targetTitleCheckbox.find("input[type='checkbox']:checked").each(function () {
                        if ('' === targetPortVal) {
                            targetPortVal = $(this).val();
                        } else {
                            targetPortVal = targetPortVal + "," + $(this).val();
                        }
                    });
                }
            } else {
                alert("页面报错，请检查！");
                return false;
            }
            if (pathsCells.length > 1) {
                graphGlobal.removeCells(pathsCells);
            } else {
                var sourceMxCellId = '';
                var targetMxCellId = '';
                var pathLine = pathsCells[0];
                var pathLineId = pathLine.id;
                var sourceMxCell = pathLine.source;
                var targetMxCell = pathLine.target;
                if (targetMxCell) {
                    sourceMxCellId = sourceMxCell.id;
                }
                if (targetMxCell) {
                    targetMxCellId = targetMxCell.id;
                }
                $.ajax({
                    cache: true,
                    type: "get",
                    url: "/piflow-web/grapheditor/savePathsPort",
                    data: {
                        "flowId": loadId,
                        "pathLineId": pathLineId,
                        "sourcePortVal": sourcePortVal,
                        "targetPortVal": targetPortVal,
                        "sourceId": sourceMxCellId,
                        "targetId": targetMxCellId
                    },
                    async: true,
                    traditional: true,
                    error: function (request) {
                        console.log("error");
                        return;
                    },
                    success: function (data) {
                        var dataMap = JSON.parse(data);
                        //alert(dataMap);
                        if ('1' === dataMap.code) {
                            alert("端口选择保存成功");
                        } else {
                            alert("端口选择保存失败");
                            graphGlobal.removeCells(pathsCells);
                        }
                    }
                });

            }
            alert("提交");
        } else {
            graphGlobal.removeCells(pathsCells);
        }
        $('#myModalPort').modal('hide');
        $('.addCrtBtn').remove();
        $('.addCheckbox').remove();
        $('#sourceTitle').hide();
        $('#targetTitle').hide();
    }

    function crtAnyPort(crtProtInputId, isSource) {
        var crtProtInput = $('#' + crtProtInputId);
        var portNameVal = crtProtInput.val();
        if (portNameVal && '' !== portNameVal) {
            if (!document.getElementById(portNameVal)) {
                $('#copyDivCheckbox').show();
                var obj = $('#copyDivCheckbox').clone();
                $(obj).removeAttr("id");
                $(obj).attr('class', 'addCheckbox').attr('id', portNameVal + 'Checkbox');
                $(obj).find('input').attr('class', 'addCheckbox').attr('id', portNameVal).attr('name', portNameVal).attr('value', portNameVal);
                $(obj).find('span').attr('class', 'addCheckbox').attr('class', portNameVal);
                if (isSource) {
                    $('#sourceTitleCheckbox').append(obj);
                } else {
                    $('#targetTitleCheckbox').append(obj);
                }
                $('.' + portNameVal).text(portNameVal);
                $('#copyDivCheckbox').hide();
            } else {
                alert("端口名称被占用！！");
            }
        } else {
            alert("端口名不能为空");
        }
    }

    $(document).ready(function () {
        $("#modalDialog").draggable();//为模态对话框添加拖拽
        $("#myModal").css("overflow", "hidden");//禁止模态对话框的半透明背景滚动
        $("#myModalPort").draggable();//为模态对话框添加拖拽
        $("#myModalPort").css("overflow", "hidden");//禁止模态对话框的半透明背景滚动
    });
    //@ sourceURL=index.js
</script>
</body>
</html>
