<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=5,IE=9" ><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Grapheditor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" type="text/css" th:href="@{/grapheditor/styles/grapheditor.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/charisma/css/bootstrap.min.css}">
	<script th:inline="javascript">
		var stopsGroupData = [[${groupsList}]];
		var xmlDate = [[${xmlDate}]];
		var loadId = [[${load}]];
		var appId = [[${appId}]];
		var stdoutLog = [[${stdoutLog}]];
		var stderrLog = [[${stderrLog}]];
		var divValue = null;
		 function divAppend(divAppend){
    		 divValue = divAppend;
    }
	</script>
	<script type="text/javascript">
		// Parses URL parameters. Supported parameters are:
		// - lang=xy: Specifies the language of the user interface.
		// - touch=1: Enables a touch-style user interface.
		// - storage=local: Enables HTML5 local storage.
		// - chrome=0: Chromeless mode.
		var urlParams = (function(url)
		{
			var result = new Object();
			var idx = url.lastIndexOf('?');
	
			if (idx > 0)
			{
				var params = url.substring(idx + 1).split('&');
				
				for (var i = 0; i < params.length; i++)
				{
					idx = params[i].indexOf('=');
					
					if (idx > 0)
					{
						result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
					}
				}
			}
			
			return result;
		})(window.location.href);
	
		// Default resources are included in grapheditor resources
		mxLoadResources = false;
	</script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Init.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/deflate/pako.min.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/deflate/base64.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/jscolor/jscolor.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/sanitizer/sanitizer.min.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/mxClient.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/EditorUi.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Editor.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Graph.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Shapes.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Actions.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Menus.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Format.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Toolbar.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/Dialogs.js}"></script>
	<script type="text/javascript" th:src="@{/grapheditor/js/jquery.min.js}"></script>
	<!--用户拖动元素，链接：http://api.jqueryui.com/draggable/#method-disable/-->
	<script type="text/javascript" th:src="@{/charisma/js/jquery-ui.min.js}"></script>
	<!--移动设备用户拖动元素，依赖juery-ui.min.js，链接：http://touchpunch.furf.com/-->
	<script type="text/javascript" th:src="@{/charisma/js/jquery.ui.touch-punch.min.js}"></script>
	<script type="text/javascript" th:src="@{/charisma/js/bootstrap.min.js}"></script>
</head>
<body class="geEditor">
	<div style="width: 30%; float: right;">
		<div style="position: fixed; z-index: 999;text-align: right; width: 30%;">
			<input id="startFlow" type="button" onclick="runFlow()" value="运行"/>
			<input id="stopFlow" type="button" onclick="stopFlow()" value="停止"/>
			<input type="button" class="btn-primary" data-toggle="modal" onclick="getLogUrl()" data-target="#myModal" value="日志"/>
		</div>
	</div>
	<!-- Modal -->
	<div  class="modal"  id="myModal" aria-labelledby="myModalLabel" data-backdrop="static">
	    <div id="modalDialog" class="modal-dialog" role="document">
	        <div class="modal-content" style="width: 200%; left: -290px; top: 77px;">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title" id="myModalLabel">日志窗口</h4>
	            </div>
	            <div class="modal-body">
					 <!-- <div id="logTitle">加载中</div> -->
					 <table border="1" style="width: 100%; height: 100%;">
						<tr style="height: 90%;">
							<td id="customContent">
								日志内容待加载……
							</td>
						</tr>
					</table>
					<input type="button" onclick="changeUrl(1)" value="加载地址1">
					<input type="button" onclick="changeUrl(2)" value="加载地址2">
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	            </div>
	        </div>
	    </div>
	</div>
	<script type="text/javascript">
		// Extends EditorUi to update I/O action states based on availability of backend
		var graphGlobal = null;
		var thisEditor = null;
		var sign = true;
		(function()
		{
			
			var editorUiInit = EditorUi.prototype.init;
			
			EditorUi.prototype.init = function()
			{
				editorUiInit.apply(this, arguments);
				this.actions.get('export').setEnabled(false);
				graphGlobal = this.editor.graph;
				thisEditor = this.editor;

				// Updates action states which require a backend
				if (!Editor.useLocalStorage)
				{
					mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function(req)
					{
						var enabled = req.getStatus() != 404;
						this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
						this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
						this.actions.get('save').setEnabled(enabled);
						this.actions.get('saveAs').setEnabled(enabled);
						this.actions.get('export').setEnabled(enabled);
					}));
				}
				//监控事件
				graphGlobal.addListener(mxEvent.CELLS_ADDED, function(sender, evt) {
					saveXml();
					console.info("CELLS_ADDED");
		         });
				graphGlobal.addListener(mxEvent.CELLS_MOVED, function(sender, evt) {
					saveXml();
					console.info("CELLS_MOVED");
		         });
				graphGlobal.addListener(mxEvent.CELLS_REMOVED, function(sender, evt) {
					saveXml();
					console.info("CELLS_REMOVED");
		         });
			 	function add(data){
					if(data!=null && data.length>0){
						  while(divValue.hasChildNodes()) 
						    {
							  divValue.removeChild(divValue.firstChild);
						    }
						var table=document.createElement("table");
						table.style.borderCollapse = "separate";
						table.style.borderSpacing = "0px 5px";
	               		var tbody=document.createElement("tbody");
						for(var y=0;y<data.length;y++){
							var displayName = data[y].displayName;
							var customValue = data[y].customValue;
							var displayName = document.createElement('input');
							displayName.setAttribute('type', 'text');
							displayName.setAttribute('id', ''+data[y].displayName+'');
							displayName.setAttribute('onblur', 'shiqu("'+data[y].id+'","'+data[y].displayName+'")');
							displayName.style.width = "108px";
							displayName.setAttribute('value', ''+customValue+'');
							var spanDisplayName = 'span'+data[y].displayName;
		               		var spanDisplayName = document.createElement('span');
							spanDisplayName.style.cursor = "pointer";
							spanDisplayName.setAttribute('title', ''+data[y].description+'');
		               		mxUtils.write(spanDisplayName, ''+data[y].displayName+'');
		               		var tr=document.createElement("tr");
		               		var td=document.createElement("td");
		               		td.style.width = "90px";
		               		var td1=document.createElement("td");
		               		//开始appendchild()追加各个元素
		               		td.appendChild(spanDisplayName);
		               		td1.appendChild(displayName);
		               		tr.appendChild(td);
		               		tr.appendChild(td1);
		               		tbody.appendChild(tr);
		               		table.appendChild(tbody); 
		               	  }
						var btn = mxUtils.button('保存', mxUtils.bind(this, function(evt)
						{
							//创建一个数组
							var arrayObj = new Array();
							for(var y=0;y<data.length;y++){
								var content = document.getElementById(''+data[y].displayName+'').value;
								if(content!=null && content.length>0){
								arrayObj.push(content+"#id#"+data[y].id);
								}
							}
							console.info(arrayObj);
						   $.ajax({
					         cache:true, 
					         type:"POST", 
					         url:"/stops/updateStops", 
					         data:{content:arrayObj},
					         async:true, 
					         traditional: true,
					         error:function(request){ 
					        	 console.log("error");
					             return;
					         },
					         success:function(data){ 
					             console.log("success");
					         }
					     });     
						}));
						btn.style.width = '202px';
						btn.style.marginLeft = '18px';
						btn.style.marginTop = '10px';
						divValue.appendChild(table);
						divValue.appendChild(btn);
					}
			    }  
		         graphGlobal.addListener(mxEvent.CLICK, function(sender, evt) {
					var cells = evt.properties.cell;
					if(typeof(cells)!="undefined"){
					var id = evt.properties.cell.id;
					document.getElementById('stopsNameLabel').innerText = cells.value;
				    $.ajax({
		                cache:true, 
		                type:"POST", 
		                url:"/stops/queryIdInfo", 
		                data:{"id":id,"fid":loadId},
		                async:true, 
		                error:function(request){ 
		                	//alert("Jquery Ajax request error!!!");
		                    return;
		                },
		                success:function(data){ 
		                    if(""!=data){
		                    	  console.log("stops属性查询success");
		                    	  add(data.properties);
		                		  document.getElementById('stopsDescription').innerText = data.description;
		                		  document.getElementById('stopsGroups').innerText = data.groups;
		                		  document.getElementById('stopsBundel').innerText = data.bundel;
		                		  document.getElementById('stopsVersion').innerText = data.version;
		                		  document.getElementById('stopSowner').innerText = data.owner;
		                		  document.getElementById('stopCreateDate').innerText = data.crtDttmString; 
		                    }else{
		                    	  console.log("stops属性查询null");
		                    }
		                }
		            });
					}
		         });

				if(xmlDate){
					var xml = mxUtils.parseXml(xmlDate);
					var node = xml.documentElement;
					var dec = new mxCodec(node.ownerDocument);
					dec.decode(node, graphGlobal.getModel());
					thisEditor.lastSnapshot = new Date().getTime();
					thisEditor.undoManager.clear();
					thisEditor.ignoredChanges = 0;
					thisEditor.setModified(false);
				};
				graphGlobal.setTooltips(false);
			};

			// Adds required resources (disables loading of fallback properties, this can only
			// be used if we know that all keys are defined in the language specific file)
			mxResources.loadDefaultBundle = false;
			var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
				mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

			// Fixes possible asynchronous requests
			mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function(xhr)
			{
				// Adds bundle text to resources
				mxResources.parse(xhr[0].getText());
				
				// Configures the default graph theme
				var themes = new Object();
				themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement(); 
				
				// Main
				new EditorUi(new Editor(urlParams['chrome'] == '0', themes));
			}, function()
			{
				document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
			});
		})();
		//@ sourceURL=indexsss.js
	</script>
	<script type="text/javascript">
    	var token = $("meta[name='_csrf']").attr("content");
    	var header = $("meta[name='_csrf_header']").attr("content");
		var startFlow = $('#startFlow');
		var stopFlow = $('#stopFlow');
    	$(document).ajaxSend(function(e, xhr, options) {
    	    xhr.setRequestHeader(header, token);
    	});
    	//保存xml文件
	    function saveXml(){
	    	var getXml = thisEditor.getGraphXml();
	    	var sssss = getXml.outerHTML;
		    //var waitxml = encodeURIComponent(getXml.outerHTML);//这就是要提交到后台的xml代码
		    
            $.ajax({
                cache:true,//保留缓存数据
                type:"POST",//为post请求
                url:"saveData",//这是我在后台接受数据的文件名
                //data:$('#loginForm').serialize(),//将该表单序列化
                data:{imageXML:sssss,load:loadId},
                async:true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error:function(request){//请求失败之后的操作
                    return;
                },
                success:function(data){//请求成功之后的操作
                    console.log("success");
					thisEditor.setModified(false);
                }
            });
		}
	    //打开xml文件
	    function openXml(){
	    	$.ajax({
                cache:true,//保留缓存数据
                type:"POST",//为post请求
                url:"loadData",//这是我在后台接受数据的文件名
                //data:$('#loginForm').serialize(),//将该表单序列化
                async:true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error:function(request){//请求失败之后的操作
                    return;
                },
                success:function(data){//请求成功之后的操作
                	openXml(data);
                    console.log("success");
                }
            });
		}
	    //加载xml文件
	    function openXml(loadStr){
	    	var xml = mxUtils.parseXml(loadStr);
			var node = xml.documentElement;
			var dec = new mxCodec(node.ownerDocument);
			dec.decode(node, graphGlobal.getModel());
			thisEditor.lastSnapshot = new Date().getTime();
			thisEditor.undoManager.clear();
			thisEditor.ignoredChanges = 0;
			thisEditor.setModified(false);
		}
	    function queryFlowInfo(){
	    	$.ajax({
	    		data:{"load":loadId},
                cache:true,//保留缓存数据
                type:"POST",//为post请求
                url:"/flow/queryFlowData",//这是我在后台接受数据的文件名
                async:true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error:function(request){//请求失败之后的操作
                    return;
                    stopFlow.show();
                },
                success:function(data){//请求成功之后的操作
                	if(data!=null && data!=""){
                 		 document.getElementById('UUID').innerText = data.id;
           		 		 document.getElementById('flowName').innerText = data.name;
           				 document.getElementById('createrTime').innerText = data.crtDttmString;
                	}else{
                		 document.getElementById('UUID').innerText = "No time";
                 		 document.getElementById('flowName').innerText = "No time";
                 		 document.getElementById('crtDttmString').innerText = "No time";
                	}
                }
            });
		}
	    //运行
	    function runFlow(){
	    	startFlow.hide();
            $.ajax({
                cache:true,//保留缓存数据
                type:"POST",//为post请求
                url:"runFlow",//这是我在后台接受数据的文件名
                //data:$('#loginForm').serialize(),//将该表单序列化
                data:{flowId:loadId},
                async:true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error:function(request){//请求失败之后的操作
                	startFlow.show();
                    return;
                },
                success:function(data){//请求成功之后的操作
                    //console.log("success");
                	var dataMap = JSON.parse(data);
                	if('0'!==dataMap.code){
                		alert(dataMap.errMsg);
                		//$('#appId').val(data);
                		appId = dataMap.appid;
                		stopFlow.hide();
                	}else{
                		alert("启动失败");
                		startFlow.show();
                	}
					
                }
            });
		}
	    //停止
	    function stopFlow(){
	    	stopFlow.hide();
            $.ajax({
                cache:true,//保留缓存数据
                type:"POST",//为post请求
                url:"stopFlow",//这是我在后台接受数据的文件名
                //data:$('#loginForm').serialize(),//将该表单序列化
                data:{flowId:loadId},
                async:true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error:function(request){//请求失败之后的操作
                    return;
                    stopFlow.show();
                },
                success:function(data){//请求成功之后的操作
                    //console.log("success");
                	if('0'!==data){
                		alert(data);
                		startFlow.show();
                	}else{
                		alert("停止失败");
                		stopFlow.show();
                	}
                }
            });
		}
	    function getLogUrl(){
	    	//appId = "application_1539850523117_0152";
	    	$.ajax({
                cache:true,//保留缓存数据
                type:"POST",//为post请求
                url:"getLogUrl",//这是我在后台接受数据的文件名
                //data:$('#loginForm').serialize(),//将该表单序列化
                data:{"appId":appId},
                async:true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error:function(request){//请求失败之后的操作
                    return;
                },
                success:function(data){//请求成功之后的操作
                    console.log("success");
	                if('0'!==data.code){
	                	stdoutLog = data.stdoutLog;
	                	stderrLog = data.stderrLog;
	                }
					//alert(data);
                }
            });
	    }
		function changeUrl(key){
			var url
			switch (key) {
				case 1:
					url = stdoutLog;
					break;
				case 2:
					url = stderrLog;
					break;
				default:
					break;
			}
			$.ajax({
                cache:true,//保留缓存数据
                type:"POST",//为post请求
                url:"getLog",//这是我在后台接受数据的文件名
                //data:$('#loginForm').serialize(),//将该表单序列化
                data:{url:url},
                async:true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error:function(request){//请求失败之后的操作
                    return;
                },
                success:function(data){//请求成功之后的操作
                    console.log("success");
	                if(''!==data){
	                	var split0 = data.split('<td class="content">');
	                	var data0 = split0[1];
	                	var split2 = data0.split("</td>");
	                	var data2 = split2[0];
	                	"white-space: pre-line;"
	                	data2 = data2.replace("<pre>", '<pre style="white-space: pre-wrap; height: 288px;">');
	                    //document.getElementById("logTitle").innerHTML = "<h1>"+data1+"</h1>";
	                    document.getElementById("customContent").innerHTML = "<div>"+data2+"</div>";
	                }
					//alert(data);
                }
            });
		}
		$(document).ready(function(){
			$("#modalDialog").draggable();//为模态对话框添加拖拽
			//$("#myModal").css("overflow", "hidden");//禁止模态对话框的半透明背景滚动
		});
    	//@ sourceURL=index-----------.js
	</script>
</body>
</html>
