<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=5,IE=9"><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>piflow-web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:include="/Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
    <link rel="stylesheet" type="text/css" th:href="@{/grapheditor/styles/grapheditor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href='@{/custom/css/publicMacro.css}'/>

    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
    <style type="text/css">
        /*人为制造一个占据整个屏幕的Div,其透明度为0.7且z-index为9999使之前的页面被压在底层无法点击*/
        .fullScreen {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.7;
            background-color: black;
            z-index: 9999;
            text-align: center;
        }

        #divloadingXml {
            height: 200px;
            display: none;
        }
    </style>
    <script th:inline="javascript">
        var stopsGroupData = [[${groupsVoList}]];
        var xmlDate = [[${xmlDate}]];
        var xmlDateStr = [[${xmlDateStr}]];
        var loadId = [[${load}]];
        var isExample = [[${isExample}]];
        var maxStopId = [[${maxStopPageId}]];
        var divValue = null;

        function divAppend(divAppend) {
            divValue = divAppend;
        }
    </script>
    <meta th:include="/grapheditor/inc/index_graph_improt :: index_graph_improt"/>
</head>
<body class="geEditor">
<div th:include="/Macro/publicMacro :: userHeadMacro"></div>
<div id='fullScreen' class="fullScreen" style="display: none;">
    <div style="margin-top: 15%;">
        <p>
            <img th:src="@{/img/fullScreen.gif}" alt="">
        </p>
    </div>
</div>
<div style="width: 45.2%; float: right;">
    <div style="position: fixed; margin-top: 48px; z-index: 999;text-align: right; width:45%;">
        <div class="btn-group">
            <a class="btn" style="background: #1A8B5F; color: #ffffff" href='javascript:void(0);' onclick="runFlow()" title="Run flow">
                <i class="glyphicon glyphicon-play icon-white"></i>
            </a>
        </div>
        <div class="btn-group">
            <a class="btn" style="background: #F14D50; color: #ffffff" href='javascript:void(0);' title="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='glyphicon glyphicon-cog'></i>
            </a>
            <ul class="dropdown-menu pull-right" style="margin-top: 0px">
                <li>
					<a id="reloadStops" href='javascript:void(0);' onclick="reloadStops()" title="reload Stops">reloadStops </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
					<a id="saveTemplate" href='javascript:void(0);' onclick="saveTemplate()" title="save Template">saveTemplate</a>
				</li>
                <li role="separator" class="divider"></li>
                <li><a id="uploadTemplate" href='javascript:void(0);' onclick="uploadTemplate()" title="uploadTemplate">uploadTemplate </a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a id="loadingXml" href='javascript:void(0);'>LoadTemplate</a></li>
            </ul>
        </div>
        <div id="divloadingXml">
            <select name="loadingXmlSelect" id="loadingXmlSelect" onchange="loadTemplate()" style="width: 218px;"></select>
        </div>
        <form id="uploadForm" enctype="multipart/form-data" method="post">
            <input type="file" id="uploadFile" name="templateFile" style="display:none;" onchange="uploadXmlFile()"/>
        </form>
    </div>
</div>
<!-- crumbs -->
<div style="width: 100%;position: fixed;z-index: 99999;float: left;left: 0px;bottom: 0px;text-align: center;height: 28px;line-height: 28px; background: #37714b;">
    <span style="color: #ffffff">
            <a style="color: #ffffff" th:href="@{/web/flowList}">FlowList</a>
        </span>
    <span style="color: #ffffff">>></span>
    <span style="color: #ffffff; font-weight: bold">FlowContent</span>
</div>

<!-- Modal 端口 -->
<div class="modal" id="myModalPort" aria-labelledby="myModalLabel" data-backdrop="static">
    <div id="modalDialogPort" class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;  top: 77px;">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <h3 class="modal-title" id="myModalLabelPort">SET PATN PROT WINDOWS</h3>
            </div>
            <div class="modal-body">
                <!-- 提供copy的端口checkbox -->
                <div id="copyDivCheckbox" style="display: none">
                    <input type="checkbox">
                    <span></span>
                </div>
                <!-- 提供copy的端口创建按钮 -->
                <div id="copyDivCrtBtn" class="input-group" style="display: none">
                    <input type="text"/>
                    <span class="input-group-btn">
						<button type="button">
							CrtPort
						</button>
					</span>
                </div>
                <from id="protInfo">
                    <div id="sourceTitle" style="display: none">
                        <span id="sourceTitleStr" style="font-size: 20px">Source:</span>
                        <div id="sourceTitleCheckbox"></div>
                        <div id="sourceTitleBtn" style="width: 70%"></div>
                        <div id="sourceTypeDiv" style="display: none"></div>
                    </div>
                    <hr/>
                    <div id="targetTitle" style="display: none">
                        <span id="targetTitleStr" style="font-size: 20px">Source:</span>
                        <div id="targetTitleCheckbox"></div>
                        <div id="targetTitleBtn" style="width: 70%"></div>
                        <div id="targetTypeDiv" style="display: none"></div>
                    </div>
                </from>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="chooseProt(1)">Submit</button>
                <button type="button" class="btn btn-default" onclick="chooseProt(0)">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--初始化画板-->
<!--stop 属性编辑弹窗开始-->
<div style="display: none;" id="stopOpen">
    <form class="layui-form" action="">
        <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
                <textarea id="stopValue" placeholder="please input ..." class="layui-textarea"
                          style="width: 272px;margin-left: -100px;resize:none;"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;margin-right: 90px;margin-top: -8px;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary" id="buttonStop">save
                </button>
            </div>
        </div>
    </form>
</div>
<script th:include="/Macro/csrfTokeHeadMacroScript :: csrfTokeHeadMacroScript"/>
<!--stop 属性编辑弹窗结束-->
<script type="text/javascript" th:src="@{/grapheditor/initGraph.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myModalPort").draggable();//为模态对话框添加拖拽
        $("#myModalPort").css("overflow", "hidden");//禁止模态对话框的半透明背景滚动
         $(".btn-group").mouseover(function () {
            $(this).addClass("open");
            var oDiv = document.getElementById("divloadingXml");
            oDiv.style.display = "none";
        });
        $(".btn-group").mouseleave(function () {
            $(this).removeClass("open");
        })
        initGraph();
    });
    window.onload = showSelect;
    //@ sourceURL=grapheditorIndex.js
</script>
</body>
</html>
