<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment=process_Info_Inc>
    <div th:unless="${processVo}" style="line-height: 25px;">
        <div style="position: absolute;top: 49%;width: 100%;text-align: center;">
            <span style="font-size: 60px;">Load Fail</span>
        </div>
    </div>
    <div th:if="${processVo}" style="line-height: 25px;">
        <div style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
            <div style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">
                Process Basic Information
            </div>
            <table style="border-collapse: separate; border-spacing: 0px 5px;">
                <tbody>
                <tr>
                    <td>
                        <span>UUID：</span></td>
                    <td>
                        <span th:text="${processVo.id}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>flowName：</span></td>
                    <td>
                        <span th:text="${processVo.name}"/>
                </tr>
                <tr>
                    <td>
                        <span>description：</span></td>
                    <td>
                        <span th:text="${processVo.description}"/>
                </tr>
                <tr>
                    <td>
                        <span>crtTime：</span></td>
                    <td>
                        <span th:text="${processVo.crtDttmStr}"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
            <div style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">
                Process Runing Information
            </div>
            <span>Start time ：</span>
            <span id="processStartTimeShow" th:text="${processVo.startTimeStr}"/>
            <br>
            <span>Stop time ：</span>
            <span id="processStopTimeShow" th:text="${processVo.endTimeStr}"/>
            <br>
            <span>state ：</span>
            <span id="processStateShow" th:text="${processVo.state}"/>
            <br>
            <span>progress data ：</span>
            <span id="processProgressShow">
                <span th:if="${processVo.progress !=null && processVo.progress != ''}"
                      th:text="${processVo.progress} + '%'"/>
            </span>
        </div>
    </div>
</div>
</body>
</html>
