<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment=process_Info_Inc>

    <div style="line-height: 25px;">
        <div id="process_info_inc_loading" style="position: absolute;top: 49%;width: 100%;text-align: center;">
            <span style="font-size: 60px;">Loading</span>
        </div>
        <div id="process_info_inc_load_fail"
             style="position: absolute;top: 49%;width: 100%;text-align: center;display: none;">
            <span style="font-size: 60px;">Load Fail</span>
        </div>
        <div id="process_info_inc_no_data"
             style="position: absolute;top: 49%;width: 100%;text-align: center;display: none;">
            <span style="font-size: 60px;">No Data</span>
        </div>
        <div id="process_info_inc_load_data" style="display: none;">
            <div style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
                <div style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">
                    Process Basic Information
                </div>
                <table style="border-collapse: separate; border-spacing: 0px 5px;">
                    <tbody>
                    <tr>
                        <td valign="top"><span>UUID ：</span></td>
                        <td valign="top"><span id="span_processVo_id"/></td>
                    </tr>
                    <tr>
                        <td valign="top"><span>FlowName ：</span></td>
                        <td valign="top"><span id="span_processVo_name"/></td>
                    </tr>
                    <tr>
                        <td valign="top"><span>Description ：</span></td>
                        <td valign="top"><span id="span_processVo_description"/></td>
                    </tr>
                    <tr>
                        <td valign="top"><p>CreateTime ：</p></td>
                        <td valign="top"><span id="span_processVo_crtDttmStr"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
                <div style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">
                    Process Running Information
                </div>
                <span>StartTime ：</span>
                <span id="processStartTimeShow"/>
                <br>
                <span>CompleteTime ：</span>
                <span id="processStopTimeShow"/>
                <br>
                <span>State ：</span>
                <span id="processStateShow"/>
                <br>
                <span>ProgressData ：</span>
                <span id="processProgressShow"/>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var processID = [[${processId}]];

    function initProcessInfoIncPageData(processID) {
        $.ajax({
            cache: true,//Keep cached data
            type: "get",//Request for get
            url: "/piflow-web/process/queryProcessData",//This is the name of the file where I receive data in the background.
            //data:$('#loginForm').serialize(),//Serialize the form
            data: {
                processId: processID
            },
            async: true,//Setting it to true indicates that other code can still be executed after the request has started. If this option is set to false, it means that all requests are no longer asynchronous, which also causes the browser to be locked.
            error: function (request) {//Operation after request failure
                $('#process_info_inc_loading').hide();
                $('#process_info_inc_load_fail').show();
                alert("Request Failed");
                return;
            },
            success: function (data) {//Operation after request successful
                var dataMap = JSON.parse(data);
                $('#process_info_inc_loading').hide();
                if (200 === dataMap.code) {
                    var processVo = dataMap.processVo;
                    if (!processVo) {
                        $('#process_info_inc_no_data').show();
                    } else {
                        //Process Basic Information
                        $("#span_processVo_id").text(processVo.id);
                        $("#span_processVo_name").text(processVo.name);
                        $("#span_processVo_description").text(processVo.description);
                        $("#span_processVo_crtDttmStr").text(processVo.crtDttmStr);
                        //Process Running Information
                        $("#processStartTimeShow").text(processVo.startTimeStr);
                        $("#processStopTimeShow").text(processVo.endTimeStr);
                        var processVo_state_text = (null !== processVo.state) ? processVo.state.stringValue : "INIT";
                        $("#processStateShow").text(processVo_state_text);
                        if (processVo.progress) {
                            $("#processProgressShow").text(processVo.progress + "%");
                        } else {
                            $("#processProgressShow").text("0.00%");
                        }


                        $('#process_info_inc_load_data').show();
                    }
                } else {
                    $('#process_info_inc_load_fail').show();
                    //alert("Load Failed" + dataMap.errorMsg);
                }
                $('#fullScreen').hide();
            }
        });
    }

    $(document).ready(function () {
        initProcessInfoIncPageData(processID);
    });
</script>
</body>
</html>
