@import '~vxe-table/styles/variable.scss';

// 修改样式变量
$vxe-font-size: 14px;
$vxe-font-color: #666;
$vxe-primary-color: #009688;
$vxe-table-font-color: $vxe-font-color;
$vxe-table-border-color: #e8eaec;
$vxe-table-border-radius: 4px;
// ...

@import '~vxe-table/styles/modules.scss';