<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/components/load/progressLoading.css}"/>
    <title>PiFlow-Web</title>

    <!-- jQuery -->
    <script th:src="@{/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/components/load/prefixfree.min.js}"></script>
    <script th:src="@{/components/layui/layui.all.js}"></script>
</head>
<body>
<div id="container_div" class='container'>
    <div style="text-align: center; font-size: large">
        <span id="promptContent">Component loading, please wait...</span>
    </div>
    <br>
    <div style="border:1px solid #0ef5ca;border-radius: 4px;">
        <div id="bar_div" class='bar mint' data-percent='10' data-skill=''></div>
    </div>
</div>
<script th:src="@{/components/load/progressLoading.js}"></script>
<script th:inline="javascript">
    var loadComponents_timer;
    var countdown_timer = null;
    var canvasW = $(document).width(),
        canvasH = $(document).height();
    $("#container_div").css("margin-top", (canvasH - (canvasH / 3)) + "px");
    $(function () {
        $.ajax({
            cache: true,
            type: "GET",
            url: "/piflow-web/bootPage/initComponents",
            // data: {"stopPageId": stopPageId, "fid": loadId},
            async: true,
            error: function (request) {
                //alert("Jquery Ajax request error!!!");
                layer.msg("Initialization failed, refresh the page and reinitialize after 1 second", {
                    icon: 2,
                    shade: 0,
                    time: 1000
                }, function () {
                    window.location.reload();
                });
                return;
            },
            success: function (data) {
                var dataMap = JSON.parse(data);
                if (200 === dataMap.code) {
                    loadComponents_timer = window.setInterval("loading()", 500);
                } else {
                    layer.msg("Initialization failed, refresh the page and reinitialize after 1 second", {
                        icon: 2,
                        shade: 0,
                        time: 1000
                    }, function () {
                        window.location.reload();
                    });
                }
            }
        });
    });

    function loading() {
        var progressNum = $("#bar_div").attr("data-percent");
        if ("100" == progressNum) {
            console.log("------------------------------------------------------");
            window.clearInterval(loadComponents_timer);
            $("#promptContent").text("Components are loaded and will jump!!");
            countdown_timer = window.setInterval("countdownJump()", 1000);
        }
        /*var randomNun = Math.floor(Math.random() * 101);
        if (randomNun > progressNum) {
            $("#bar_div").attr("data-percent", randomNun);
        }
        console.log(randomNun);*/
        $.ajax({
            cache: true,
            type: "GET",
            url: "/piflow-web/bootPage/threadMonitoring",
            async: true,
            error: function (request) {
                //alert("Jquery Ajax request error!!!");
                return;
            },
            success: function (data) {
                var dataMap = JSON.parse(data);
                if (200 === dataMap.code) {
                    if (dataMap.progress > progressNum) {
                        $("#bar_div").attr("data-percent", dataMap.progress);
                    }
                }
            }
        });
    }

    function countdownJump() {
        window.location.href="/piflow-web/"
    }

    //@ sourceURL=bootPage.js
</script>
</body>
</html>
