<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment=index_Home>
<div th:include="macro/fragmentMacro :: fullScreen"></div>
<script th:inline="javascript">
    if (!accessPath || 'indexHome' === accessPath) {
        setTimeout(function () {
            window.location.href = "/piflow-web/index?accessPath=flowList";
        }, 500);
    }
    //@ sourceURL=dashboard.js
</script>
</body>
</html>
