<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>piflow-web</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/custom/css/fullScreen.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/components/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/components/font-awesome-4.7.0/css/font-awesome.min.css}"/>

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" th:href='@{/css/ie8.css}'/>
    <![endif]-->

    <script type="text/javascript" th:src='@{/js/jquery/jquery.min.js}'></script>
    <script type="text/javascript" th:src='@{/js/jquery/jquery.easytabs.min.js}'></script>
    <script type="text/javascript" th:src='@{/js/jquery/jquery.collapsible.min.js}'></script>
    <script type="text/javascript" th:src='@{/js/dataTables1.10.18/jquery.dataTables.min.js}'></script>
    <script type="text/javascript" th:src='@{/js/functions.js}'></script>
    <script type="text/javascript" th:src="@{/components/layui/layui.all.js}"></script>
    <style>
        .paginate_button current {
            color: #c40029;
            background: #c40029;
        }

        .table_tr_th {
            color: #1A7444;
        }

        .error_class {
            border-color: #FF5722 !important;
        }
    </style>
</head>

<body>

<!-- Fixed top -->
<div id="top" th:include="Macro/publicMacro :: headMacro"></div>
<!-- /fixed top -->


<!-- Content container -->
<div id="container">

    <!-- Sidebar -->
    <div id="sidebar">

        <div id="general">

            <!-- Main navigation -->
            <ul id="menuGroupsId" class="navigation widget">
                <li><a th:href="@{/}" title=""><i class="icon-home"></i>Dashboard</a></li>
            </ul>
            <!-- /main navigation -->

        </div>

    </div>
    <!-- /sidebar -->


    <!-- Content -->
    <div id="content">
        <!-- Content wrapper -->
        <div th:switch="${accessPath}">
            <div th:case="'indexHome'">
                <div th:include="indexRight/dashboard :: index_Home"></div>
            </div>
            <div th:case="'flowList'">
                <div th:include="indexRight/flow/flow_List :: flow_List"></div>
            </div>
            <div th:case="'processList'">
                <div th:include="indexRight/flow/process_List :: process_List"></div>
            </div>
            <div th:case="'template'">
                <div th:include="indexRight/flow/template_List :: template_List"></div>
            </div>
            <div th:case="'dataSources'">
                <div th:include="indexRight/data_source_List :: data_source_List"></div>
            </div>
            <div th:case="'flowGroupList'">
                <div th:include="indexRight/flowGroup/flow_group_List :: flow_group_List"></div>
            </div>
            <div th:case="'processGroupList'">
                <div th:include="indexRight/flowGroup/process_group_List :: process_group_List"></div>
            </div>
            <div th:case="'groupTypeProcessList'">
                <div th:include="indexRight/flowGroup/flow_process_List :: process_List"></div>
            </div>
            <div th:case="'flowGroupTemplateList'">
                <div th:include="indexRight/flowGroup/flow_group_template_List :: flow_group_template_List"></div>
            </div>
            <div th:case="'instructionalVideo'">
                <div th:include="indexRight/instructional_Video :: instructional_Video"></div>
            </div>
            <div th:case="'sysScheduleList'">
                <div th:include="indexRight/sys_schedule_List :: sys_schedule_List"></div>
            </div>
        </div>
        <!-- /content wrapper -->
    </div>
    <!-- /content -->
</div>
<!-- /content container -->


<!-- Footer -->
<!--<div id="footer"></div>-->
<div th:include="Macro/publicMacro :: footHeadMacro"></div>
<!-- /footer -->
<script type="text/javascript" th:src='@{/components/bootstrap/js/bootstrap.min.js}'></script>
<script th:inline="javascript">
    var currentUser = [[${currentUser}]];
    var accessPath = [[${accessPath}]];
    window.onload = function () {
        if ("indexHome" === accessPath) {
            setTimeout(function () {
                window.location.href = "/piflow-web/web/flowList";
            }, 500);
        }
    };
    (function () {
        if (currentUser) {
            var sysMenuVoList = currentUser.sysMenuVoList;
            if (sysMenuVoList && sysMenuVoList.length > 0) {
                var menuGroupsUser = {};
                var menuGroups = $('#menuGroupsId');
                $.each(sysMenuVoList, function (n, value) {
                    var menuParentHtml = "";
                    var currentMenu = "";
                    var valueMenuParent = value.menuParent;
                    if (valueMenuParent) {
                        if (menuGroupsUser[valueMenuParent]) {
                            menuParentHtml = menuGroupsUser[valueMenuParent];
                            var counts = parseFloat(menuParentHtml.find("strong").text());
                            menuParentHtml.find("strong").html(counts + 1);
                        } else {
                            var menuParentHtmlStr = '<li id="selected' + valueMenuParent + '">'
                                + '<a href="#" title="" class="expand">'
                                + '<i class="icon-reorder"></i>' + valueMenuParent + '<strong style="background:#20794b">1</strong>'
                                + '</a>'
                                + '<ul></ul>'
                                + '</li>';
                            menuParentHtml = $(menuParentHtmlStr);
                        }

                        currentMenu = '<li><a class="' + value.menuName + '" href="' + value.menuUrl + '" title="' + value.menuDescription + '">' + value.menuName + '</a></li>';
                        menuParentHtml.find("ul").append(currentMenu);
                    } else {
                        menuParentHtml = '<li><a href="' + value.menuUrl + '" title="' + value.menuDescription + '">'
                            + '<i class="icon-reorder"></i>' + value.menuName + ''
                            + '</a></li>';
                        valueMenuParent = 'no_Menu_Parent';
                        menuParentHtml = $(menuParentHtml);
                    }
                    if (value.menuUrl) {
                        var menuUrlSpits = value.menuUrl.split('/');
                        if (accessPath == menuUrlSpits[menuUrlSpits.length - 1]) {
                            var currentMenuId = menuUrlSpits[menuUrlSpits.length - 1] + 'MenuID';
                            if (currentMenu && currentMenuId) {
                                menuParentHtml.find(".expand").attr("id", "current");
                                menuParentHtml.find("a." + value.menuName).attr("id", currentMenuId);
                            } else {
                                menuParentHtml.attr("class", "active");
                            }
                        }
                    }
                    menuGroupsUser[valueMenuParent] = menuParentHtml;
                });
                if (menuGroupsUser) {
                    for (var p in menuGroupsUser) {
                        menuGroups.append(menuGroupsUser[p]);
                    }
                }
            }
        }
        $('#' + accessPath + 'MenuID').addClass("current");
    })();

    function playVideo() {
        $('#content').html('Vodeo Loading');
        window.location.href = ([[${#httpServletRequest.getContextPath()}]] + "/web/instructionalVideo");
    }

    function exampleView(exampleId) {
        $('#content').html("Example " + exampleId + " loading");
        window.location.href = ([[${#httpServletRequest.getContextPath()}]] + "/grapheditor/home?load=" + exampleId);
    }

    //@ sourceURL=index.js
</script>
</body>
</html>
