<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>piflow-web</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" type="text/css" th:href='@{/index/css/main.css}'/>

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" th:href='@{/index/css/ie8.css}'/>
    <![endif]-->

    <script type="text/javascript" th:src='@{/index/js/jquery.min.js}'></script>
    <script type="text/javascript" th:src='@{/index/js/jquery.easytabs.min.js}'></script>
    <script type="text/javascript" th:src='@{/index/js/jquery.collapsible.min.js}'></script>
    <!--<script type="text/javascript" th:src='@{/index/js/jquery.dataTables.min.js}'></script>-->
    <script type="text/javascript" th:src='@{/js/dataTables1.10.18/jquery.dataTables.min.js}'></script>
    <script type="text/javascript" th:src='@{/index/js/functions.js}'></script>

</head>

<body>

<!-- Fixed top -->
<div id="top">
    <div class="fixed">
        <a href="indexNew.html" title="" class="logo"><img th:src='@{/img/logo.png}'/>烟草科技知识图谱大数据流水线系统</a>
        <ul class="top-menu">
            <li><a class="fullview"></a></li>
            <!--<li><a class="showmenu"></a></li>-->
            <li class="dropdown">
                <a class="user-menu" data-toggle="dropdown">
                    <img th:src='@{/index/img/userpic.png}' alt=""/>
                    <span th:text="'Howdy,' + ${currentUser?.name}"><b class="caret"></b></span>
                </a>
                <ul class="dropdown-menu">
                    <!--<li><a href="#" title=""><i class="icon-user"></i>Profile</a></li>-->
                    <li>
                        <a href="javascript:document.logoutForm.submit();" title="Logout"><i class="icon-remove"></i>Logout</a>
                        <form style="display: none" name="logoutForm" th:action="@{/logout}" method="post"></form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /fixed top -->


<!-- Content container -->
<div id="container">

    <!-- Sidebar -->
    <div id="sidebar">

        <div id="general">

            <!-- Main navigation -->
            <ul class="navigation widget">
                <li><a th:href="@{/}" title=""><i class="icon-home"></i>Dashboard</a></li>
                <li id="selectedMenu">
                    <a href="#" title="" class="expand" id="current">
                        <i class="icon-reorder"></i>Menu<strong>3</strong>
                    </a>
                    <ul>
                        <li><a id="flowListMenuID" th:href="@{/web/flowList}" title="">Flow List</a></li>
                        <li><a id="getProcessListMenuID" th:href="@{/process/processList}" title="">Process List</a>
                        </li>
                        <li><a id="templateMenuID" th:href="@{/web/template}" title="">Template</a></li>
                    </ul>
                </li>
                <li id="exampleMenu">
                    <a href="#" title="" class="expand">
                        <i class="icon-warning-sign"></i>ExampleMenu<strong id="exampleMenuCounts">1</strong>
                    </a>
                    <ul>
                        <li><a id="VideoMenuID" onclick="playVideo()" title="">Instructional Video</a></li>
                    </ul>
                </li>
                <!--
                <li>
                    <a href="#" title="" class="expand">
                        <i class="icon-warning-sign"></i>Error pages<strong>6</strong>
                    </a>
                    <ul>
                        <li><a href="403.html" title="">403 page</a></li>
                        <li><a href="404.html" title="">404 page</a></li>
                        <li><a href="405.html" title="">405 page</a></li>
                        <li><a href="500.html" title="">500 page</a></li>
                        <li><a href="503.html" title="">503 page</a></li>
                        <li><a href="offline.html" title="">Offline page</a></li>
                    </ul>
                </li>
                 -->
            </ul>
            <!-- /main navigation -->

        </div>

    </div>
    <!-- /sidebar -->


    <!-- Content -->
    <div id="content">
        <!-- Content wrapper -->
        <div th:switch="${accessPath}">
            <div th:case="'indexHome'">
                <div th:include="/indexRight/process_List :: indexHome"></div>
            </div>
            <div th:case="'flowList'">
                <div th:include="/indexRight/flow_List :: flow_List"></div>
            </div>
            <div th:case="'getProcessList'">
                <div th:include="/indexRight/process_List :: process_List"></div>
            </div>
            <div th:case="'template'">
                <div th:include="/indexRight/template_List :: template_List"></div>
            </div>
        </div>
        <!-- /content wrapper -->
    </div>
    <!-- /content -->
</div>
<!-- /content container -->


<!-- Footer -->
<div id="footer">

</div>
<!-- /footer -->
<script type="text/javascript" th:src='@{/index/js/bootstrap.min.js}'></script>
<script th:inline="javascript">
    var accessPath = [[${accessPath}]];
    (function () {
        // $('#selectedMenu').addClass("active");
        $('#' + accessPath + 'MenuID').addClass("current");
        $.ajax({
            cache: true,//保留缓存数据
            type: "POST",//为post请求
            url: "/piflow-web/exampleMenu/exampleUrlList",//这是我在后台接受数据的文件名
            data: {},
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                if (confirm("The sample failed to load, is it reloaded?")) {
                    window.location.reload();
                }
                return;
            },
            success: function (data) {//请求成功之后的操作
                var dataMap = JSON.parse(data);
                if (0 !== dataMap.code) {
                    var flowExampleList = dataMap.flowExampleList;
                    if (flowExampleList && flowExampleList.length > 0) {
                        $('#exampleMenuCounts').html(flowExampleList.length + 1);
                        var exampleMenuUl = $('#exampleMenu ul');
                        for (var i = 0; i < flowExampleList.length; i++) {
                            var appendHtml = '<li><a onclick=\'exampleView(';
                            appendHtml += '"' + flowExampleList[i].id + '"';
                            appendHtml += ')\' title="">';
                            appendHtml += flowExampleList[i].name;
                            appendHtml += '</a></li>';
                            exampleMenuUl.append(appendHtml);
                        }

                    }
                }
            }
        });
    })();

    function playVideo() {
        $('#content').html("视频暂无");
    }

    function exampleView(exampleId) {
        $('#content').html("样例" + exampleId + "暂无");
        window.location.href = "/piflow-web/grapheditor/home?load=" + exampleId;
    }

    //@ sourceURL=index.js
</script>
</body>
</html>
