<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Piflow-Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
    <link rel="stylesheet" type="text/css" th:href="@{/components/bootstrap/css/bootstrap-cerulean.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/custom/css/publicMacro.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/components/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/custom/css/fullScreen.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/components/jquery.steps/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/components/jquery.steps/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/components/jquery.steps/css/jquery.steps.css}"/>

    <!-- jQuery -->
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form.3.51.0/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.1.13.1/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.1.13.1/jquery.validate.addMethod.js}"></script>
    <script type="text/javascript" th:src="@{/components/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/components/jquery.steps/js/jquery.steps.js}"></script>
    <!-- The fav icon -->
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
</head>
<body>
<div th:include="Macro/publicMacro :: loginHeadMacro"></div>
<div>
    <div style="height: 100px; text-align: center;">
        <span style="line-height: 58px;"></span>
        <br>
        <span style="font-size: 20px;">Boot page</span>
    </div>
    <div id="example-basic">
        <h3>Keyboard</h3>
        <section>
            <p>Try the keyboard navigation by clicking arrow left or right!</p>
        </section>
        <h3>Effects</h3>
        <section>
            <p>Wonderful transition effects.</p>
        </section>
        <h3>Pager</h3>
        <section>
            <p>The next and previous buttons help you to navigate through your content.</p>
        </section>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        $("#example-basic").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true,
            onStepChanging: function (event, currentIndex, newIndex) {
                if (currentIndex < newIndex) {
                    console.log("----------------00000----------------");
                }
                return true;
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                console.log("priorIndex：" + priorIndex);
                console.log("currentIndex：" + currentIndex);
            },
            onFinishing: function (event, currentIndex) {
                return true;
            },
            onFinished: function (event, currentIndex) {
                console.log("Submitted!");
                home();
            }
        });
    }

    function home() {
        window.location.href = "/piflow-web/";
    }

    function loadStops() {
        $('#fullScreen').show();
        $.ajax({
            data: {"load": loadId},
            cache: true,//Keep cached data
            type: "POST",//Request type post
            url: "/piflow-web/bootPage/loadStops",//This is the name of the file where I receive data in the background.
            error: function (request) {//Operation after request failure
                $('#fullScreen').hide();
                //alert("reload fail");
                layer.msg("reload fail", {icon: 2, shade: 0, time: 2000}, function () {
                });
                return;
            },
            success: function (data) {//Operation after request successful
                var dataMap = JSON.parse(data);
                if (200 === dataMap.code) {
                    window.location.href = "/piflow-web/grapheditor/home?load=" + dataMap.load + "&_" + new Date().getTime();
                } else {
                    //alert("reload fail");
                    layer.msg("reload fail", {icon: 2, shade: 0, time: 2000}, function () {
                    });
                    $('#fullScreen').hide();
                }
            }
        });
    }
</script>
</body>
</html>
