<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <!-- jQuery -->
    <script th:src="@{/js/jquery/jquery.min.js}"></script>
    <!-- The fav icon -->
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
</head>
<body>
<script th:inline="javascript">
    window.onload = function(){
    	 window.location.href="/piflow-web/index?accessPath=flowList";
    }
</script>
</body>
</html>
