<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Piflow-Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
    <link id="bs-css" th:href="@{/bootstrap/css/bootstrap-cerulean.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href='@{/custom/css/publicMacro.css}'/>
    <!-- The fav icon -->
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
    <script type="text/javascript" th:src='@{/js/jquery/jquery.min.js}'></script>
    <script type="text/javascript" th:src='@{/js/jquery.form.3.51.0/jquery.form.js}'></script>
    <script th:src="@{/charisma/js/layer/layer.js}"></script>
    <style type="text/css">
        /*人为制造一个占据整个屏幕的Div,其透明度为0.7且z-index为9999使之前的页面被压在底层无法点击*/
        .fullScreen {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.7;
            background-color: black;
            z-index: 9999;
            text-align: center;
        }
    </style>
</head>

<body style="background-image: url('/piflow-web/img/loginBackground.jpg');">
<div th:include="Macro/publicMacro :: loginHeadMacro"></div>
<div>
    <div id="signInDiv" class="container">
        <div class="row" style="margin-top: 10%">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <!--<div class="panel-heading">
                        <h3 class="panel-title"> Login</h3>
                    </div>-->
                    <div class="panel-body">
                        <div style="text-align: center; margin-top: 30px;">
                            <span style="text-align: center; font-size: 20px; color: #2f7600;">Login</span>
                        </div>
                        <div class="form-group" style="margin-top: 30px">
                            <form th:action="@{/login}" method="post">
                                <div class="form-group">
                                    <div class="input-group col-md-6 col-md-offset-3">
                                        <!--div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>-->
                                        <input type="text" class="form-control" name="username" id="username"
                                               placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group col-md-6 col-md-offset-3">
                                        <!--<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>-->
                                        <input type="password" class="form-control" name="password" id="password"
                                               placeholder="Password">
                                    </div>
                                </div>
                                <br>
                                <div th:if="${param.error}">
                                    <p style="text-align: center" class="text-danger">Login failed, account or password is
                                        wrong!</p>
                                </div>
                                <div th:if="${result}">
                                    <p style="text-align: center" class="text-success" th:text="${result}"></p>
                                </div>
                                <div class="form-group">
                                    <div class="input-group col-md-6 col-md-offset-3 col-xs-12 ">
                                        <button type="submit" class="btn btn-block" style="color: #ffffff;background-color: #2f7600;border-color: #2f7600;">SIGN IN</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group col-md-6 col-md-offset-3" style="text-align: right;">
                                        <span class="btn-link" onclick="signUpFunction()" style="color: #2f7600; font-size: 12px;">Sign up</span> |
                                        <span class="btn-link" style="color: #2f7600; font-size: 12px;">Forgot password?</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="signUpDiv" class="container" style="display: none">
        <div class="row"  style="margin-top: 10%">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <!--<div class="panel-heading">
                        <h3 class="panel-title">User Registration</h3>
                    </div>-->
                    <div class="panel-body">
                        <div style="text-align: center; margin-top: 30px;">
                            <span style="text-align: center; font-size: 20px; color: #2f7600;">User Registration</span>
                        </div>
                        <div class="form-group" style="margin-top: 30px">
                            <form id="signUpForm" th:action="@{/piflow-web/register}" method="post">
                                <div class="input-group col-md-6 col-md-offset-3" style="margin-bottom: 10px;">
                                    <!--<label>Username<span style="color: red">*</span></label>-->
                                    <input style="width:97%;" type="text" class="form-control" name="username" id="userInput" placeholder="Username">
                                    <span style="color: red">*</span>
                                    <label id="checkMessage" style="display: none"></label>
                                </div>
                                <div class="input-group col-md-6 col-md-offset-3" style="margin-bottom: 10px;">
                                    <!--<label>Password<span style="color: red">*</span></label>-->
                                    <input style="width:97%;" type="password" class="form-control" name="pw" id="pw1" placeholder="Password"/>
                                    <span style="color: red">*</span>
                                </div>
                                <div class="input-group col-md-6 col-md-offset-3" style="margin-bottom: 10px;">
                                    <!--<label>Confirm Password<span style="color: red">*</span></label>-->
                                    <input style="width:97%;" type="password" class="form-control" name="pw" id="pw2" placeholder="Confirm Password"
                                    onkeyup="validate()"/>
                                    <span style="color: red">*</span>
                                    <label id="promptSpan" style="display: none"></label>
                                </div>
                                <div class="input-group col-md-6 col-md-offset-3" style="margin-bottom: 10px;">
                                    <!--<label>Name<span style="color: red">*</span></label>-->
                                    <input style="width:97%;" type="text" class="form-control" name="name" id="name" placeholder="Name"/>
                                    <span style="color: red">*</span>
                                </div>
                                <!--<div class="form-group ">
                                    <label>SEX<span style="color: red">*</span></label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" value="1" placeholder="SEX"/>Man
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" value="0" placeholder="SEX"/>Ladies
                                        </label>
                                    </div>
                                </div>-->
                                <br>
                                <div class="form-group">
                                    <div style="text-align: center;" class="col-md-12 col-xs-12 ">
                                        <button id="signUpBtn" type="button" onclick="submitSignUpForm()"
                                                style="width: 25%; color: #ffffff;background-color: #2f7600;border-color: #2f7600;" class="btn">
                                            SIGN UP
                                        </button>
                                        <button id="resetBtn" type="button" onclick="resetSignUpForm()"
                                                style="width: 25%; color: #ffffff;background-color: #2f7600;border-color: #2f7600;" class="btn">
                                            RESET
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 25%;">
    <p style="text-align: center;font-size: 12px;"></p>
    <p style="text-align: center;font-size: 12px;">技术支持： 中国科学院计算机网络信息中心@大数据部</p>
    <p style="text-align: center;font-size: 12px;">咨询电话：010-58815678</p>
</div>

<div id='fullScreen' class="fullScreen" style="display: none;">
    <div style="margin-top: 15%;">
        <p>
            <img th:src="@{/img/fullScreen.gif}" alt="">
        </p>
    </div>
</div>
<script th:include="Macro/csrfTokeHeadMacroScript :: csrfTokeHeadMacroScript"/>
<script type="text/javascript">
    //程序写完，要习惯性检查一下
    $(function () {
        $("#userInput").change(function () {
            var val = $(this).val();
            val = $.trim(val);
            if (val != "") {
                var url = "/piflow-web/checkUserName";
                var args = {"userName": val, "time": new Date()};
                $.get(url, args, function (data) {
                    var dataMap = JSON.parse(data);
                    if ('1' === dataMap.code) {
                        $("#checkMessage").html('<span style="color: green">' + dataMap.errMsg + '</span>');
                        $('#signUpBtn').attr("disabled", false);
                    } else {
                        $("#checkMessage").html('<span style="color: red">' + dataMap.errMsg + '</span>');
                        $('#signUpBtn').attr("disabled", true);
                    }
                    $("#checkMessage").show();
                });
            }
        });
    });

    function validate() {
        var pw1 = $("#pw1").val();
        var pw2 = $("#pw2").val();
        if (pw1 == pw2) {
            $("#promptSpan").html('<font color=\'green\'>Verification passed</font>');
            $('#signUpBtn').attr("disabled", false);
        }
        else {
            $("#promptSpan").html("<font color='red'>Two passwords are different</font>");
            $('#signUpBtn').attr("disabled", true);
        }
        $("#promptSpan").show();
    }

    function signUpFunction() {
        $("#signUpDiv").show();
        $("#signInDiv").hide();
    }

    function resetSignUpForm() {
        $('#signUpForm')[0].reset();
        $("#promptSpan").hide();
        $("#checkMessage").hide();
    }

    function submitSignUpForm() {
        $("#fullScreen").show();
        $.ajax({
            cache: true,
            type: "POST",
            url: "/piflow-web/register",
            data: $('#signUpForm').serialize(),
            async: true,
            error: function (request) {
                //alert("Jquery Ajax request error!!!");
                layer.msg("Jquery Ajax request error!!!", {icon: 2, shade: 0, time: 2000}, function () {});
                return;
            },
            success: function (data) {
                var dataMap = JSON.parse(data);
                if ('1' === dataMap.code) {
                    resetSignUpForm()
                    $("#signUpDiv").hide();
                    $("#signInDiv").show();
                    layer.msg(dataMap.errMsg, {icon: 1, shade: 0, time: 2000}, function () {});
                }else {
                    //alert(dataMap.errMsg);
                    layer.msg(dataMap.errMsg, {icon: 2, shade: 0, time: 2000}, function () {});
                }
                $("#fullScreen").hide();
            }
        });
    }
    //@ sourceURL=login.js
</script>
</body>
</html>
