<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment=table>
<script th:src="@{/charisma/js/layer/layer.js}"></script>
<!-- content starts -->

<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Tables</a>
        </li>
    </ul>
</div>

<div class="row"><!--row-->
	<div class="box col-md-12"><!--span-->
        <div class="box-inner">
         	<div class="box-header well" >
                <h2><i class="glyphicon glyphicon-user"></i> Datatable</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
			</div>
            <div class="box-content">
                <div class="alert alert-info">
                	<a class='btn' href='javascript:void(0);' onclick="newPath();" style='background-color: #C0C0C0;border: 1px solid;color: #080808;'><i class='glyphicon glyphicon-edit icon-white'></i> 
    			  create flow</a>
                </div>
                  <div class="tableDiv" style="overflow: scroll;">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>description</th>
                                <th>startTime</th>
                                <th>finishedTime</th>  
                                <th>progress</th>
                                <th>state</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tableData">
                          <tr th:each='list:${appInfo}'>
                                <td th:text="${list.id}"  style="display:none"></td>
                                <td class="center" th:text="${list.appId?.id}"  style="display:none"></td>
                                <td class="center" th:text="${list.name}"></td>
                                 <td class="center" th:text="${list.description}"></td>
                                 <td th:text="${#dates.format(list.appId?.startTime, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                                 <td th:text="${#dates.format(list.appId?.endTime, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                                    <td class="center" ><div id='d'> <p th:id='${list.appId?.id}+Info' th:text="${list.appId?.progress}?${list.appId?.progress}+'%':'0%'"></p><progress th:id='${list.appId?.id}' max='100' th:value="${list.appId?.progress}"></progress></div></td>
                                   <td class="center" th:text="${list.appId?.state}?${list.appId?.state}:'No state'"></td>
                                <td class="center" style="white-space: nowrap;">
                                    <a class="btn" th:href="'/piflow-web/flow/grapheditor?load='+${list.id}+''" target="_blank" style="background-color: #C0C0C0;border: 1px solid;color: #6b5555;">
                                        <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                    </a>
                                    <a class="btn" href="javascript:void(0);" th:onclick="'javascript:update(\''+${list.id}+'\',\''+${list.name}+'\',\''+${list.description}+'\');'"   
                                    style="background-color: #C0C0C0;border: 1px solid;color: #6b5555;">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                    </a>
                                      <a class="btn" href="javascript:void(0);" style="background-color: #C0C0C0;border: 1px solid;color: #6b5555;" th:onclick="'javascript:runFlow(\''+${list.id}+'\');'" >
                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                    </a>
                                      <a class="btn" href="javascript:void(0);" style="background-color: #C0C0C0;border: 1px solid;color: #6b5555;" th:onclick="'javascript:stopFlow(\''+${list.id}+'\');'">
                                        <i class="glyphicon glyphicon-off icon-white"></i>
                                    </a>
                                    <a class="btn" href="javascript:void(0);" style="background-color: #C0C0C0;border: 1px solid;color: #6b5555;" th:onclick="'javascript:deleteFlow(\''+${list.id}+'\',\''+${list.name}+'\');'">
                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

<!-- content ends -->
    </div>
  </body>
</html>