<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=5,IE=9"><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProcessContent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacro"/>
    <link rel="stylesheet" type="text/css" th:href="@{/grapheditor/styles/grapheditor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/components/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href='@{/custom/css/publicMacro.css}'/>
    <link rel="stylesheet" type="text/css" th:href='@{/custom/css/publicMacro.css}'/>
    <link rel="stylesheet" type="text/css" th:href="@{/custom/css/fullScreen.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/components/layui/css/layui.css}"/>

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" th:href='@{/css/ie8.css}'/>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" th:href="@{/img/logo.ico}">
    <script type="text/javascript" th:src='@{/js/jquery/jquery.min.js}'></script>
    <script type="text/javascript" th:src="@{/components/layui/layui.all.js}"></script>
</head>
<body class="geEditor">
<div th:include="Macro/publicMacro :: userHeadMacro"></div>
<div style="position: fixed; z-index: 779;text-align: right;right: 27%;top: 58px;">
			<span>
				progress：<span id="progress" th:text="${percentage} + '%'"></span>
			</span>
    <input id="runFlow" type="button" class="btn btn-default" onclick="selectRunMode()" value="Run"/>
    <input id="stopFlow" type="button" class="btn btn-danger" onclick="stopProcessGroup()" value="Stop"/>
    <input type="button" class="btn btn-primary" onclick="openLogWindow()" value="Log"/>
</div>
<div id="processContent" th:onclick="'queryProcessGroup(\''+${processGroupId}+'\')'"
     style="overflow: auto; position: fixed; top: 48px; bottom: 28px;left: 0%;right: 25%; z-index: 778;">
    <div class="geBackgroundPage"
         style="position: absolute;border-width: 1px;overflow: hidden;width: 2391px;height: 2167px;border-color: rgb(202, 202, 202);border-style: solid;background-color: rgb(255, 255, 255);background-image: url(&quot;data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=&quot;);background-position: -1px -1px;"></div>
</div>

<div id="processLeft" class="geSidebarContainer"
     style="right: 0px;top: 48px;bottom: 28px;left: 75%;background-color: whitesmoke;font-size: 12px;">
    <div th:include="processGroup/inc/process_group_info_inc :: process_group_info_inc"></div>
</div>
<!-- crumbs -->
<div style=" width: 100%;position: fixed;z-index: 99999;left: 0px;bottom: 0px;text-align: center;height: 28px;line-height: 28px;background: #37714b;">
    <span th:switch="${parentAccessPath}">
        <span th:case="'groupDrawingBoard'">
            <span style="color: #ffffff">
                <a style="color: #ffffff" th:href="@{/web/flowGroupList}">FlowGroupList</a>
            </span>
            <span style="color: #ffffff">&gt;&gt;</span>
            <span style="color: #ffffff;">
                <a style="color: #ffffff" th:href="@{/grapheditor/groupDrawingBoard} + '?load=' + ${processGroupId}">FlowGroupContent</a>
            </span>
        </span>
        <span th:case="*" style="color: #ffffff">
            <a style="color: #ffffff" th:href="@{/web/processGroupList}">ProcessGroupList</a>
        </span>
    </span>
    <span style="color: #ffffff">&gt;&gt;</span>
    <span style="color: #ffffff; font-weight: bold">ProcessGroupContent</span>
</div>
<!-- Modal Checkpoint -->
<div class="modal" id="checkpointShow" aria-labelledby="myModalLabelPort" data-backdrop="static">
    <div id="modalPort" class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;  top: 77px;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelPort">Choose Checkpoint Windows</h4>
            </div>
            <div id="checkpointContent" class="modal-body">
                No checkpoint information was queried
                <input type="checkbox" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="runProcess()">Run</button>
                <button type="button" class="btn btn-default" onclick="runProcess('DEBUG')">Debug</button>
                <button type="button" class="btn btn-default" onclick="cancelRunProcess()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Log -->
<div class="modal fade" id="myModal" aria-labelledby="myModalLabel" data-backdrop="static">
    <div id="modalDialog" class="modal-dialog" role="document">
        <div class="modal-content" style="top: 20px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Log Windows</h4>
            </div>
            <div class="modal-body">
                <!-- <div id="logTitle">loading.....</div> -->
                <table border="1" style="width: 100%; height: 100%;">
                    <tr style="height: 90%;">
                        <td id="customContent">
                            loading.....
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:include="Macro/fragmentMacro :: fullScreen"></div>

<script type="text/javascript" th:src="@{/js/jquery/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
<script th:include="Macro/csrfTokeHeadMacro :: csrfTokeHeadMacroScript"/>
<script th:src="@{/custom/js/processGroupContent.js}"></script>
<script th:inline="javascript">
    var xmlDate = [[${xmlDate}]];
    var processGroupId = [[${processGroupId}]];
    var parentProcessId = [[${parentProcessId}]];
    var pID = [[${pID}]];
    var appId = [[${appId}]];
    var processState = [[${processState}]];
    var stdoutLog = [[${stdoutLog}]];
    var stderrLog = [[${stderrLog}]];
    (function () {
        if (processContent) {
            if (xmlDate) {
                processContent.append(xmlDate);
            } else {
                processContent.prepend('<div style="position: fixed;z-index: 779;"><h1>视图丢失</h1></div>');
            }
        }
        if (runFlow) {
            if ("STARTED" === processState) {
                runFlow.hide();
                debugFlow.hide();
                stopFlow.show();
                timer = window.setInterval("processGroupMonitoring(appId)", 5000);
            } else {
                runFlow.show();
                debugFlow.show();
                stopFlow.hide();
            }
        }
        var processVoListInit = [[${processVoListInit}]];
        if (processVoListInit && '' != processVoListInit) {
            for (var i = 0; i < processVoListInit.length; i++) {
                var processVoInit = processVoListInit[i];
                processGroupMonitor(processVoInit.pageId, processVoInit.state);
            }
        }
        //queryProcess(processId);
        $("#modalDialog").draggable();//Add drag and drop for modal dialogs
        $("#myModal").css("overflow", "hidden");//Disable translucent background scrolling of modal dialogs
    })();

    //When the browser window size changes
    $(window).resize(function () {
        var window_width = $(window).width();//Get browser window width
        var window_height = $(window).height();//Get browser window width
        // $('#modalDialog').height(window_height - 124);
        // $('#modalDialog').width(window_width - 124);
        $('#textareaId').height(window_height - 300);
        $('#divTextareaId').height(window_height - 300);
    });
    //@ sourceURL=processContent.js
</script>
</body>
</html>
